<div class="modal fade" id="deleteTrans-{{ t.id_transport }}" tabindex="-1" role="dialog" aria-labelledby="delete-transport" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mx-auto" id="delete-transport">
                    <i class="bi bi-trash my-auto"></i> 
                        Rimuovi 
                    <i class="bi bi-trash my-auto"></i>
                </h5>
            </div> 

            <div class="modal-body">
                <form id="delete-form" action="{{ doc_root }}admin/transport-delete/{{ t.id_transport }}" method="POST">
                    <input type="hidden" name="type" value="{{ t.type }}" />

                    <p class="container delete-msg">
                        Rimuovere il trasporto (SLOT ID)? <br>
                            <span> 
                                {{ t.slot|upper }} 
                            </span>
                    </p>
            
                    <div class="modal-footer mx-auto">
                        <button type="button" class="btn btn-default mx-auto modal-cancel" data-bs-dismiss="modal">
                            <span class="bi bi-x-circle">
                                ANNULLA
                            </span>  
                        </button>

                        <button type="submit" class="btn btn-default mx-auto modal-save" id="delete" name="delete_transport">
                            <span class="bi bi-check-circle">
                                CONFERMA
                            </span> 
                        </button>
                    </div>
                </form>
			</div>
        </div>
    </div>
</div>