{% extends 'admin/layout.html' %}
{% block title %} Piattaforma {{ 'now'|date('Y') }} {% endblock %}

{% block content %} 
    <section class="grid-container mt-1 mb-0">
        <div class="submenu align-items-center my-auto mx-auto p-2">
            <div class="grid-item mx-auto my-1 p-1 justify-content-center">
                <h3 class="m-0 p-4 submenu-title"> 
                    Utenti
                </h3>
            </div>
        </div>
    </section>

    <section class="grid-container mx-1 mt-0">
	    <div class="col-md-12">
    	    <div class="panel panel-default">
                <div class="panel-heading d-flex justify-content-center p-1">
                    <a role="button" class="btn btn-outline-light bg-gradient mx-1 mb-3"
                        href="{{ doc_root }}register/"> 
                            <i class="bi bi-plus" style="font-weight: 400; text-align: center"></i>
                                <span style="font-style: normal; font-family: 'Rubik', sans-serif; font-size: 14px"> 
                                    REGISTRAZIONE 
                                </span>
                    </a>
                </div>
                
                <div class="panel-body table-responsive">
					<table class="table table-sm table-hover mx-auto platform" style="text-align: center; font-weight: 400">
                        <thead>
                            <tr class="table-title border-bottom border-light">
					            <th scope="col" class="align-middle p-2" style="border-right: 2px solid rgba(255, 255, 255, 0.2)"> # </th>
                                <th scope="col" class="align-middle p-2" style="border-right: 2px solid rgba(255, 255, 255, 0.2)"> Nome e cognome </th>
                                <th scope="col" class="align-middle p-3" style="border-right: 2px solid rgba(255, 255, 255, 0.2)"> Indirizzo e-mail </th>
                                <th scope="col" class="align-middle p-2" style="border-right: 2px solid rgba(255, 255, 255, 0.2)"> Username </th>
                                <th scope="col" class="align-middle p-2" style="border-right: 2px solid rgba(255, 255, 255, 0.2)"> Ruolo </th>
                                <th scope="col" class="align-middle p-2" style="border-right: 2px solid rgba(255, 255, 255, 0.2)"> Entrata </th>
                            </tr>
                        </thead>

                        <tbody class="table-body">  
                        {% for user in users %}
                                <tr style="font-size: 0.2rem">
                                    <td scope="row" class="align-middle" style="border-right: 2px solid rgba(0, 0, 0, 0.2)">
                                        <a href="{{ doc_root }}user/{{ user.id_user }}" class="text-dark"
                                            aria-current="page">
                                                {{ id = 1 }}
                                            {% set id = id + 1 %}
                                        </a> <br>
                                        <a href="{{ doc_root }}user-edit/{{ user.id_user }}" 
                                            class="text-dark" role="button">
                                                <i class="bi bi-pencil-square"></i> 
                                        </a>
                                    </td>
                                    <td class="align-middle"> 
                                        {{ user.member }}
                                    </td>
                                    <td class="align-middle"> {{ user.email }} </td>
                                    <td class="align-middle"> {{ user.username }} </td>
                                    <td class="align-middle"> {{ user.role }} </td>
                                    <td class="align-middle"> {{ user.joined }} </td>
                                </tr> 
                        {% endfor %}
                        </tbody>
                        
                        <tfoot>
                            <tr>
                                <td colspan="16" class="text-light align-middle">
                                    <h5 style="font-weight: 600" class="align-middle">
                                        TOTALE <i class="bi bi-fuel-pump-fill ms-1"></i> + <i class="bi bi-fuel-pump"></i>:
                                        <span> {{ total }} </span>
                                    </h5> 
                                </td>
                            </tr>
                        </tfoot>
               	    </table>
                </div> 
            </div>
        </div>
    </section>    
{% endblock %}