{% extends 'layout.html' %}
{% block title %} Costo LNG {% endblock %}

{% block content %} 
    <section class="grid-container mt-1 mb-0">
        <div class="submenu align-items-center my-auto mx-auto p-2">
            <div class="grid-item mx-auto my-1 p-1 justify-content-center">
                <h3 class="m-0 p-4 submenu-title"> 
                    Costo LNG
                </h3>
                
                    <div class="breadcrumb-holder justify-content-center mx-auto p-2 my-auto" aria-label="breadcrumb">
                        <ul class="rounded-breadcrumbs mx-auto my-auto p-1 justify-content-center">
                            {% for nav in categories %}
                                {% if (nav.navigation == 1) and (nav.id_group == 1) %}
                                    <li {% if (section == nav.id_category) %}
                                            class="active"
                                        {% endif %}>
                                        
                                        <a class="breadcrumb-link" aria-current="page" style="width: 10em;"
                                            {% if (nav.id_category == 1) %}
                                                href="{{ doc_root }}transports/{{ nav.id_category }}/{{ nav.seo }}"
                                            {% elseif (nav.id_category == 2) %}
                                                href="{{ doc_root }}quantity/{{ nav.id_category }}/{{ nav.seo }}"
                                            {% else %}
                                                href="{{ doc_root }}partials/{{ nav.id_category }}/{{ nav.seo }}"
                                            {% endif %}
                                        >
                                                {{ nav.category|capitalize }} 
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
            </div>
        </div>
    </section>
    
    <section class="grid-container mx-1 mt-0">
	    <div class="col-md-12">
    	    <div class="panel panel-default">
                <div class="panel-heading d-flex justify-content-center p-1">
                    <a role="button" class="btn btn-outline-light bg-gradient mx-1 mb-3"
                        href="{{ doc_root }}transport-add/"> 
                            <i class="bi bi-plus" style="font-weight: 400; text-align: center"></i>
                                <span style="font-style: normal; font-family: 'Rubik', sans-serif; font-size: 14px"> 
                                    CREA TRASPORTO 
                                </span>
                             
                                <!-- <i class="bi bi-plus-circle-fill"></i> za popunjeni krug sa +
                                     <i class="bi bi-plus-lg"></i> large plus 
                                     <i class="bi bi-plus"></i> small plus -->
                    </a>
                </div>
                
                <div class="panel-body table-responsive">
					<table class="table table-sm table-hover mx-auto" style="text-align: center; font-weight: 600">
                        <thead>
                            <tr class="bg-success bg-gradient" style="font-size: 10px">
					            <th scope="col" class="align-middle" style="border-right: 1px solid black"> # </th>
                                <th scope="col" class="align-middle"> Slot ID </th>
                                <th scope="col" class="align-middle"> Numero CMR </th>
                                <th scope="col" class="align-middle"> Ditta emittente </th>
                                <th scope="col" class="align-middle"> Fornitore </th>
                                <th scope="col" class="align-middle"> Trasporto </th>
                                <th scope="col" class="align-middle"> Univoco </th>
                                <th scope="col" class="align-middle"> Data carico </th>
                                <th scope="col" class="align-middle"> Data scarico </th>
                                <th scope="col" class="align-middle"> Mese carico </th>
                                <th scope="col" class="align-middle"> Settimana scarico </th>
                                <th scope="col" class="align-middle" colspan="2"> Mese scarico </th>
                                <th scope="col" class="align-middle"> Container<br>ATB </th>
                                <th scope="col" class="align-middle" style="border-left: 1px solid black"> Nota </th>
                            </tr>
                        </thead>

                        <tbody>  
                        {% set id = 1 %}
                        {% for i in range(1, transports, 1) %}
                            {% for i in range(0, quantities|length - 1, 1) %}
                                <tr data-bs-toggle="collapse" data-bs-target="#q-{{ quantities[i].id_transport }}" class="accordion-toggle" 
                                    aria-expanded="false" style="font-size: 9px">
                                    <td scope="row" class="align-middle" style="border-right: 1px solid black">
                                        <a href="{{ doc_root }}transports/{{ transports[i].id_transport }}/{{ transports[i].seo }}" class="text-dark"
                                            aria-current="page">
                                                {{ id }}
                                            {% set id = id + 1 %}
                                        </a> <br>
                                        <a href="{{ doc_root }}transport-edit/{{ transports[i].id_transport }}/{{ transports[i].seo }}" 
                                            class="text-dark" role="button">
                                                <i class="bi bi-pencil-square"></i> 
                                        </a>
                                    </td>
                                    <td class="align-middle" style="word-break: break-all; width: 12%"> {{ transports[i].slot|upper }} </td>
                                    <td class="align-middle" style="word-break: break-all; width: 12%"> {{ transports[i].cmr|upper }} </td>
                                    <td class="align-middle"> {{ transports[i].issuer|upper }} </td>
                                    <td class="align-middle"> {{ transports[i].supplier|upper }} </td>
                                    <td class="align-middle"> {{ transports[i].transport|upper }} </td>
                                    <td class="align-middle"> {{ transports[i].univoco|upper }} </td>
                                    <td class="align-middle"> {{ transports[i].date_load|date("d/m/Y") }} </td>
                                    <td class="align-middle"> {{ transports[i].date_unload|date("d/m/Y") }} </td>
                                    <td class="align-middle"> {{ transports[i].id_month_load }} </td>
                                    <td class="align-middle"> {{ transports[i].week_unload }} </td>
                                    <td colspan="2" class="align-middle"> {{ transports[i].id_month_unload }} - {{ transports[i].month_unload }} </td>
                                    <td class="align-middle"> {{ transports[i].container|upper }} </td>
                                    <td class="align-middle" style="border-left: 1px solid black"> <i class="bi bi-info-circle"></i> </td>
                                </tr>
                                    
                                    <tr>
                                        <td colspan="15">
                                            <div class="accordian-body collapse rowQty" id="q-{{ quantities[i].id_transport }}"> 
                                                <table class="table table-bordered">
                                                    <tbody style="text-align: center">
                                                        <tr>
                                                            <th class="bg-success bg-gradient align-middle"> Energia caricata [MWh] </th>
                                                            <td class="bg-gradient align-middle" style="border-right: 4px double white"> {{ quantities[i].mwh }} </td>  
                                                            <th class="bg-success bg-gradient align-middle"> Quantità nominale caricata [kg] </th>
                                                            <td class="bg-gradient align-middle" style="border-right: 4px double white"> {{ quantities[i].kg_load }} </td>   
                                                            <th class="bg-success bg-gradient align-middle"> Raffreddamento </th>            
                                                            <td class="bg-gradient align-middle" style="border-right: 4px double white"> {{ quantities[i].cooling }} </td>
                                                            <th class="bg-success bg-gradient align-middle"> Tipologia costo extra </th>            
                                                            <td class="bg-gradient align-middle"> {{ quantities[i].price_typology }} </td>          
                                                        </tr>
                                                    
                                                        <tr>
                                                            <th class="bg-success bg-gradient align-middle"> Valore costo extra </th>
                                                            <td class="bg-gradient align-middle" style="border-right: 4px double white"> {{ quantities[i].price_value }} </td>
                                                            <th class="bg-success bg-gradient align-middle"> Quantità scaricata PD [kg] </th>
                                                            <td class="bg-gradient align-middle" style="border-right: 4px double white"> {{ quantities[i].kg_unload }} </td>
                                                            <th class="bg-success bg-gradient align-middle"> Densità (liquido) [<sup>kg</sup>&frasl;<sub>m<sup>3</sup></sub>] </th>
                                                            <td class="bg-gradient align-middle" style="border-right: 4px double white"> {{ quantities[i].liquid_density }} </td>
                                                            <th class="bg-success bg-gradient align-middle"> Peso specifico (gas) <big>[</big><sup>kg</sup>&frasl;<sub>Nm<sup>3</sup></sub><big>]</big> </th>
                                                            <td class="bg-gradient align-middle"> {{ quantities[i].gas_weight }} </td>
                                                        </tr>
                                                    
                                                        <tr>
                                                            <th class="bg-success bg-gradient align-middle"> PCS/GHV <big>[</big><sup>MJ</sup>&frasl;<sub>kg</sub><big>]</big> </th>
                                                            <td class="bg-gradient align-middle" style="border-right: 4px double white"> {{ quantities[i].mj_kg }} </td>
                                                            <th class="bg-success bg-gradient align-middle"> PCS/GHV <big>[</big><sup>kWh</sup>&frasl;<sub>kg</sub><big>]</big> </th>
                                                            <td class="bg-gradient align-middle" style="border-right: 4px double white"> {{ quantities[i].pcs_ghv }} </td>
                                                            <th class="bg-success bg-gradient align-middle"> Volume scaricato (liquido) <big>[</big>m<sup>3</sup><big>]</big> </th>
                                                            <td class="bg-gradient align-middle" style="border-right: 4px double white"> {{ quantities[i].volume_mc }} </td>
                                                            <th class="bg-success bg-gradient align-middle"> Volume sviluppato <big>[</big><sup>Nm<sup>3</sup></sup>&frasl;<sub>m<sup>3</sup></sub><big>]</big> </th>
                                                            <td class="bg-gradient align-middle"> {{ quantities[i].volume_nmc }} </td> 
                                                        </tr>
                                                    
                                                        <tr>
                                                            <th class="bg-success bg-gradient align-middle"> <sup>Sm<sup>3</sup></sup>&frasl;&nbsp;<sub>m<sup>3</sup></sub> </th>
                                                            <td class="bg-gradient align-middle" style="border-right: 4px double white"> {{ quantities[i].smc_mc }} </td>   
                                                            <th class="bg-success bg-gradient align-middle"> Gas sviluppato <big>[</big>Nm<sup>3</sup><big>]</big> </th>
                                                            <td class="bg-gradient align-middle" style="border-right: 4px double white"> {{ quantities[i].gas_nmc }} </td>   
                                                            <th class="bg-success bg-gradient align-middle"> Gas sviluppato <big>[</big>Sm<sup>3</sup></sup><big>]</big> </th>
                                                            <td class="bg-gradient align-middle" style="border-right: 4px double white"> {{ quantities[i].gas_smc }} </td>   
                                                            <th class="bg-success bg-gradient align-middle"> <sup>Sm<sup>3</sup></sup>&frasl;&nbsp;<sub>kg</sub> </th>
                                                            <td class="bg-gradient align-middle"> {{ quantities[i].smc_kg }} </td>            
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div> 
                                        </td> 
                                    </tr>
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                        
                        <tfoot>
                            <tr>
                                <td colspan="16" class="text-light align-middle">
                                    <h5 style="font-weight: 600" class="align-middle">
                                        TOTALE <i class="bi bi-fuel-pump ms-1"></i>:
                                            <span> 
                                                {{ countPart }} 
                                            </span>
                                    </h5> 
                                </td>
                            </tr>
                        </tfoot>
               	    </table>
                </div> 
            </div>
        </div>
    </section>
{% endblock %}

{% block script %} 
    <script>
        $('.hideshow').on('click',function(){
            let cls = $(this).attr("data-id")
        
            if ( $('#'+cls).css('display') == 'none' ){
                $('.table tbody').find('#'+cls).show();
            }else{
                $('.table tbody').find('#'+cls).hide();
            }
        });
    </script>
{% endblock %}