{% extends 'layout.html' %}
{% block title %} Piattaforma {{ 'now'|date('Y') }} {% endblock %}

{% block content %} 
    <section class="grid-container mt-1 mb-0"
        <div class="submenu align-items-center my-auto mx-auto p-2">
            <div class="grid-item mx-auto my-1 p-1 justify-content-center">
                <h2 class="my-1 p-4 submenu-title"> 
                    Costo LNG
                </h2>
                
                    <div class="breadcrumb-holder justify-content-center mx-auto p-2 my-auto" aria-label="breadcrumb">
                        <ul class="rounded-breadcrumbs mx-auto my-auto p-1 justify-content-center">
                            {% for nav in categories %}
                                {% if (nav.navigation == 1) and (nav.id_group == 1) %}
                                    <li {% if (section == nav.id_category) %}
                                            class="active"
                                        {% endif %}>
                                        
                                        <a class="breadcrumb-link" aria-current="page" style="width: 10em;"
                                            {% if (nav.id_category == 1) %}
                                                href="{{ doc_root }}transports/{{ nav.id_category }}/{{ nav.seo }}"
                                            {% elseif (nav.id_category == 2) %}
                                                href="{{ doc_root }}quantity/{{ nav.id_category }}/{{ nav.seo }}"
                                            {% else %}
                                                href="{{ doc_root }}partials/{{ nav.id_category }}/{{ nav.seo }}"
                                            {% endif %}
                                        >
                                                {{ nav.category|capitalize }} 
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
            </div>
        </div>
    </section>

    <section class="grid-container m-2">
	    <div class="col-md-12">
    	    <div class="panel panel-default">
                <div class="panel-heading d-flex justify-content-end">
                    <a role="button" class="btn btn-outline-light bg-gradient btn-lg p-2 m-1"
                        href="{{ doc_root }}transport-add/"> 
                            <i class="bi bi-plus-circle" style="font-weight: 600"></i> 
                                CREA NUOVO
                    </a>
                </div>
                
                <div class="panel-body">
					<table class="table table-responsive table-hover bg-success" style="text-align: center; font-weight: 600;">
                        <thead>
                            <tr class="bg-info bg-gradient">
					            <th scope="col" class="align-middle"> # </th>
                                <th scope="col" class="align-middle"> Tipo </th>
                                <th scope="col" class="align-middle"> Slot ID </th>
                                <th scope="col" class="align-middle"> Numero CMR </th>
                                <th scope="col" class="align-middle"> Ditta emittente </th>
                                <th scope="col" class="align-middle"> Fornitore </th>
                                <th scope="col" class="align-middle"> Trasporto </th>
                                <th scope="col" class="align-middle"> Univoco </th>
                                <th scope="col" class="align-middle"> Data carico </th>
                                <th scope="col" class="align-middle"> Data scarico </th>
                                <th scope="col" class="align-middle"> Mese carico </th>
                                <th scope="col" class="align-middle"> Settimana scarico </th>
                                <th scope="col" class="align-middle" colspan="2"> Mese scarico </th>
                                <th scope="col" class="align-middle"> Container/ATB </th>
                                <th scope="col" class="align-middle"> Nota </th>
                            </tr>
                        </thead>

                        <tbody>  
                        {% for i in range(1, transports, 1) %}
                            {% for i in range(0, quantities|length - 1, 1) %}
                                <tr data-bs-toggle="collapse" data-bs-target="#q-{{ quantities[i].id_transport }}" class="accordion-toggle" 
                                    aria-expanded="false">
                                    <td scope="row" class="align-middle">
                                        <a href="{{ doc_root }}transports/{{ transports[i].id_transport }}/{{ transports[i].seo }}" class="text-dark"
                                            aria-current="page">
                                                {{ transports[i].id_transport }}
                                        </a> <br>
                                        <a href="{{ doc_root }}transport-edit/{{ transports[i].id_transport }}/{{ transports[i].seo }}" 
                                            class="text-dark" role="button">
                                            <i class="bi bi-pencil-square"></i> 
                                        </a>
                                    </td>
                                    <td class="align-middle"> 
                                        {% if transports[i].type == 0 %}
                                            F 
                                        {% else %}
                                            P
                                        {% endif %}
                                    </td>
                                    <td style="word-break: break-word;" class="align-middle"> {{ transports[i].slot|upper }} </td>
                                    <td style="word-break: break-all;" class="align-middle"> {{ transports[i].cmr|upper }} </td>
                                    <td class="align-middle"> {{ transports[i].issuer|upper }} </td>
                                    <td class="align-middle"> {{ transports[i].supplier|upper }} </td>
                                    <td class="align-middle"> {{ transports[i].transport|upper }} </td>
                                    <td class="align-middle"> {{ transports[i].univoco|upper }} </td>
                                    <td class="align-middle"> {{ transports[i].date_load|date("d/m/Y") }} </td>
                                    <td class="align-middle"> {{ transports[i].date_unload|date("d/m/Y") }} </td>
                                    <td class="align-middle"> {{ transports[i].id_month_load }} </td>
                                    <td class="align-middle"> {{ transports[i].week_unload }} </td>
                                    <td colspan="2" class="align-middle"> {{ transports[i].id_month_unload }} - {{ transports[i].month_unload }} </td>
                                    <td class="align-middle"> {{ transports[i].container|upper }} </td>
                                    <td class="align-middle"> <i class="bi bi-info-circle"></i> </td>
                                </tr>
                                    
                                    <tr>
                                        <td colspan="16">
                                            <div class="accordian-body collapse rowQty" id="q-{{ quantities[i].id_transport }}"> 
                                                <table class="table table-bordered">
                                                    <tbody style="text-align: center">
                                                        <tr>
                                                            <th class="bg-secondary bg-gradient align-middle"> Energia caricata </th>
                                                            <td class="bg-light bg-gradient align-middle"> {{ quantities[i].mwh }} MWh</td>   
                                                            <th class="bg-secondary bg-gradient align-middle"> Quantità nominale caricata </th>
                                                            <td class="bg-light bg-gradient align-middle"> {{ quantities[i].kg_load }} kg</td>   
                                                            <th class="bg-secondary bg-gradient align-middle"> Raffreddamento </th>            
                                                            <td class="bg-light bg-gradient align-middle"> {{ quantities[i].cooling }} </td>
                                                            <th class="bg-secondary bg-gradient align-middle"> Tipologia costo extra </th>            
                                                            <td class="bg-light bg-gradient align-middle"> {{ quantities[i].price_typology }} </td>          
                                                        </tr>
                                                    
                                                        <tr>
                                                            <th class="bg-secondary bg-gradient align-middle"> Valore costo extra </th>
                                                            <td class="bg-light bg-gradient align-middle"> {{ quantities[i].price_value }} </td>
                                                            <th class="bg-secondary bg-gradient align-middle"> Quantità scaricata PD </th>
                                                            <td class="bg-light bg-gradient align-middle"> {{ quantities[i].kg_unload }} kg</td>
                                                            <th class="bg-secondary bg-gradient align-middle"> Densità (liquido) </th>
                                                            <td class="bg-light bg-gradient align-middle"> {{ quantities[i].liquid_density }} kg &frasl; m<sup>3</sup></td>
                                                            <th class="bg-secondary bg-gradient align-middle"> Peso specifico (gas) </th>
                                                            <td class="bg-light bg-gradient align-middle"> {{ quantities[i].gas_weight }} <sup>kg</sup>&frasl;<sub>Nm<sup>3</sup></sub></td>
                                                        </tr>
                                                    
                                                        <tr>
                                                            <th class="bg-secondary bg-gradient align-middle"> PCS/GHV <big>[</big><sup>MJ</sup>&frasl;<sub>kg</sub><big>]</big> </th>
                                                            <td class="bg-light bg-gradient align-middle"> {{ quantities[i].mj_kg }} </td>
                                                            <th class="bg-secondary bg-gradient align-middle"> PCS/GHV <big>[</big><sup>kWh</sup>&frasl;<sub>kg</sub><big>]</big> </th>
                                                            <td class="bg-light bg-gradient align-middle"> {{ quantities[i].pcs_ghv }} </td>
                                                            <th class="bg-secondary bg-gradient align-middle"> Volume scaricato (liquido) <big>[</big>m<sup>3</sup><big>]</big> </th>
                                                            <td class="bg-light bg-gradient align-middle"> {{ quantities[i].volume_mc }} </td>
                                                            <th class="bg-secondary bg-gradient align-middle"> Volume sviluppato <big>[</big><sup>Nm<sup>3</sup></sup>&frasl;<sub>m<sup>3</sup></sub><big>]</big> </th>
                                                            <td class="bg-light bg-gradient align-middle"> {{ quantities[i].volume_nmc }} </td> 
                                                        </tr>
                                                    
                                                        <tr>
                                                            <th class="bg-secondary bg-gradient align-middle"> <sup>Sm<sup>3</sup></sup>&frasl;&nbsp;<sub>m<sup>3</sup></sub> </th>
                                                            <td class="bg-light bg-gradient align-middle"> {{ quantities[i].smc_mc }} </td>   
                                                            <th class="bg-secondary bg-gradient align-middle"> Gas sviluppato <big>[</big>Nm<sup>3</sup><big>]</big> </th>
                                                            <td class="bg-light bg-gradient align-middle"> {{ quantities[i].gas_nmc }} </td>   
                                                            <th class="bg-secondary bg-gradient align-middle"> Gas sviluppato <big>[</big>Sm<sup>3</sup></sup><big>]</big> </th>
                                                            <td class="bg-light bg-gradient align-middle"> {{ quantities[i].gas_smc }} </td>   
                                                            <th class="bg-secondary bg-gradient align-middle"> <sup>Sm<sup>3</sup></sup>&frasl;&nbsp;<sub>kg</sub> </th>
                                                            <td class="bg-light bg-gradient align-middle"> {{ quantities[i].smc_kg }} </td>            
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div> 
                                        </td> 
                                    </tr>
                            {% endfor %}
                        {% endfor %}
                        </tbody>
               	    </table>
                </div> 
            </div>
        </div>
    </section>    
{% endblock %}