<div class="modal fade" id="editForm" tabindex="-1" role="dialog" aria-labelledby="editFormLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mx-auto" id="editFormLabel"> Transport #{{ partial.seo }} </h5>
            </div>

            <div class="modal-body">
                <div class="container-fluid mx-auto">
                
                    <form id="edit-form" method="POST" action="{{ doc_root }}admin/partial-edit/{{ partial.id_partial }}">
                        <input type="hidden" name="id_partial" id="idPart" value="{{ partial.id_partial }}" />
                        
                        <div class="row form-group m-auto align-middle mb-2">
                            <div class="col-sm-4 my-auto mx-auto" style="text-align: center">
                                <label for="destPart" class="form-control-label my-auto"> Destinazione: </label>
                            </div>
                            
                            <div class="col-sm-8 mx-auto" style="text-align: center">
                                <input type="text" name="destination" aria-label="destination" value="{{ partial.destination|upper }}" class="form-control mx-auto" />
                            </div>
                        </div>
                        
                        <div class="row form-group m-auto align-middle mb-2">
                            <div class="col-sm-4 my-auto mx-auto" style="text-align: center">
                                <label for="exw" class="form-control-label my-auto"> EXW: </label>
                            </div>
                        
                            <div class="col-sm-8 mx-auto" style="text-align: center">
                                <select class="form-control exw" name="exw" id="exwPart">
                                    <option class="opt-type" value="{{ partial.exw|upper }}" id="exwOpt">
                                        {{ partial.exw|upper }}
                                    </option>   
                                
                                    <option class="opt-type" value="FOS"> 
                                        FOS
                                    </option>
                                    
                                    <option class="opt-type" value="DESTINO"> 
                                        DESTINO
                                    </option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="row form-group m-auto align-middle mb-2">
                            <div class="col-sm-4 my-auto mx-auto" style="text-align: center">
                                <label for="date" class="form-control-label my-auto"> Data: </label>
                            </div>
                            
                            <div class="col-sm-8 mx-auto" style="text-align: center">
                                <input type="text" name="date" value="{{ partial.date }}" class="form-control date" />
                            </div>
                        </div>
                        
                        <div class="row form-group m-auto align-middle mb-2">
                            <div class="col-sm-4 my-auto mx-auto" style="text-align: center">
                                <label for="place" class="form-control-label my-auto"> Luogo: </label>
                            </div>
                            
                            <div class="col-sm-8 mx-auto" style="text-align: center">
                                <input type="text" name="place" value="{{ partial.place|upper }}" class="form-control mx-auto" />
                            </div>
                        </div>  
                        
                        <div class="row form-group m-auto align-middle mb-2">
                            <div class="col-sm-4 my-auto mx-auto" style="text-align: center">
                                <label for="q_unloaded" class="form-control-label my-auto"> Quantità scaricata: </label>
                            </div>
                            
                            <div class="col-sm-8 mx-auto" style="text-align: center">
                                <input type="text" name="q_unloaded" value="{{ partial.q_unloaded }}" class="form-control mx-auto" />
                            </div>
                        </div>  
                          
                        <div class="row form-group m-auto align-middle mb-2">
                            <div class="col-sm-4 my-auto mx-auto" style="text-align: center">
                                <label for="invoice" class="form-control-label my-auto"> Fattura: </label>
                            </div>
                            
                            <div class="col-sm-8 mx-auto" style="text-align: center">
                                <input type="text" name="invoice" value="{{ partial.invoice }}" class="form-control mx-auto" />
                            </div>
                        </div>     

                        <div class="modal-footer mt-3">
                            <button type="button" class="btn btn-default modal-cancel" data-dismiss="modal" aria-label="Cancel"><span class="bi bi-x-circle"></span> CHIUDI </button>
                            <button type="submit" class="btn btn-default modal-save updatePart" name="update_partial"><span class="bi bi-check-circle"></span> SALVA </button>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>