{% extends 'admin/layout.html' %}
{% block title %} Utente #{{ member.username }} {% endblock %}

{% block content %} 
    <section class="grid-container mt-1 mb-0 pb-0 profile">
        <div class="submenu align-items-center my-auto mx-auto p-2">
            <div class="grid-item mx-auto my-1 p-1 justify-content-center">
                <h3 class="m-0 p-4 submenu-title"> 
                    Utenti
                </h3>
                
                <div class="breadcrumb-holder justify-content-center mx-auto p-2 my-auto" aria-label="breadcrumb">
                    <ul class="rounded-breadcrumbs mx-auto my-auto p-1 justify-content-center">
                        <li>
                            <a class="breadcrumb-link my-auto" aria-current="page" style="width: 10.9rem; font-size: 0.3rem; text-align: center"
                                href="{{ doc_root }}admin/register"
                            >
                                REGISTRAZIONE 
                            </a>
                        </li>

                        <li>
                            <a class="breadcrumb-link my-auto" aria-current="page" style="width: 10.9rem; font-size: 0.3rem; text-align: center"
                                href="{{ doc_root }}admin/titles-add"
                            >
                                RUOLI AZIENDALI
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="card member-card m-auto">
                <div class="card-body pt-1">          
                    <div class="member-edit p-1 m-auto">
                        <form id="member-edit" action="{{ doc_root }}admin/member-edit/{{ member.id_user }}" method="POST">
                            <div class="row m-1 p-1 member-info">
                                <div class="col-md-auto m-auto p-1 member-opt">
                                    <div class="col-md-auto m-auto">
                                        <div class="col mb-2 mt-1">
                                            <label for="title" class="col-lg-12 col-form-label"> Ruolo aziendale </label>
                                                <div class="col">
                                                    <select class="form-control" name="title" id="titles">
                                                    {% for t in titles %}
                                                        <option value="{{ t.id_title }}" class="opt-type" 
                                                        {% if (member.id_title == t.id_title) %} selected {% endif %}> 
                                                            {{ t.name }} 
                                                        </option>
                                                    {% endfor %}
                                                    </select>
                                                </div>
                                        </div>

                                        <div class="col mb-2">
                                            <label for="role" class="col-lg-12 col-form-label"> Accesso </label>
                                                <div class="col">
                                                    <select class="form-control" name="role" id="roles">
                                                    {% for r in roles %}
                                                        <option value="{{ r.id_role }}" class="opt-type" 
                                                        {% if (member.id_role == r.id_role) %} selected {% endif %}> 
                                                            {{ r.name|upper }} 
                                                        </option>
                                                    {% endfor %}
                                                    </select>
                                                </div>   
                                        </div> 
                                    </div>
                                    
                                    <div class="col-md-auto m-auto">
                                        <div class="col mb-2">
                                            <label for="email" class="col-lg-12 col-form-label"> Indirizzo e-mail </label>
                                                <div class="col-lg-12">
                                                    <input name="email" type="text" class="form-control" value="{{ member.email|lower }}" disabled>
                                                </div>
                                        </div>  
                                    </div>

                                    <div class="row p-1 mx-auto mb-0">
                                        <button type="submit" name="submit" id="submit" class="submit action-button mt-4 mb-2"> Salva </button> 
                                    </div>
                                </div>

                                &nbsp;&nbsp;&nbsp;&nbsp;

                                <div class="col-md-auto m-auto member-opt">
                                    <div class="row mb-2">
                                        <label for="name" class="col-lg-6 col-form-label"> Nome </label>
                                            <div class="col-lg-6">
                                                <input name="name" type="text" class="form-control" value="{{ member.name|upper }}" disabled>
                                            </div>
                                    </div>
                                        
                                    <div class="row mb-2">
                                        <label for="surname" class="col-lg-6 col-form-label"> Cognome </label>
                                            <div class="col-lg-6">
                                                <input name="surname" type="text" class="form-control" value="{{ member.surname|upper }}" disabled>
                                            </div>
                                    </div>
                                    
                                    <div class="row mb-2">
                                        <label for="username" class="col-lg-6 col-form-label"> Username </label>
                                            <div class="col-lg-6">
                                                <input name="username" type="text" class="form-control" value="{{ member.username|lower }}" disabled>
                                            </div>
                                    </div>
                                        
                                    <div class="row mb-2">
                                        <label for="bday" class="col-lg-6 col-form-label"> Data di nascita </label>
                                            <div class="col-lg-6">
                                                <input type="text" name="bday" class="form-control date" value="{{ member.birthday|date('d F Y') }}" disabled>
                                            </div>
                                    </div>
                                        
                                    <div class="row mb-1">
                                        <label for="city" class="col-lg-6 col-form-label"> Luogo di nascita </label>
                                            <div class="col-lg-6">
                                                <input name="city" type="text" class="form-control" value="{{ member.city|upper }}" disabled>
                                            </div>
                                    </div>
                            
                                    <div class="row mb-2">
                                        <label for="country" class="col-lg-6 col-form-label"></label>
                                            <div class="col-lg-6">
                                                <input name="country" type="text" class="form-control" value="{{ member.country|upper }}" disabled>
                                            </div>
                                    </div>
                                </div>
                            </div>                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}