{% extends 'admin/layout.html' %}
{% block title %} Utenti {{ 'now'|date('Y') }} {% endblock %}

{% block content %} 
<section class="grid-container mt-1 mb-0">
    <div class="submenu align-items-center my-auto mx-auto p-2">
        <div class="grid-item mx-auto my-1 p-1 justify-content-center">
            <a href="{{ doc_root }}admin/users">
                <h3 class="m-0 p-4 submenu-title"> 
                    Utenti
                </h3>
            </a>
            
            <div class="breadcrumb-holder justify-content-center mx-auto p-2 my-auto" aria-label="breadcrumb">
                <ul class="rounded-breadcrumbs mx-auto my-auto p-1 justify-content-center">
                    <li>
                        <a class="breadcrumb-link my-auto" aria-current="page" style="width: 10.9rem; font-size: 0.3rem; text-align: center"
                            href="{{ doc_root }}admin/register"
                        >
                            REGISTRAZIONE 
                        </a>
                    </li>

                    <li>
                        <a class="breadcrumb-link my-auto" aria-current="page" style="width: 10.9rem; font-size: 0.3rem; text-align: center"
                            href="{{ doc_root }}admin/titles"
                        >
                            RUOLI AZIENDALI
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="grid-container mx-1 mt-0 member">
    <div class="row">
        <div class="member-card m-auto"> 
            <div class="member-delete p-1 m-auto">
                <form id="member-delete" action="{{ doc_root }}admin/member-delete/{{ member.id_user }}" method="POST" class="narrow">
                    <div class="row m-auto p-1">
                        <div class="col-lg-12 m-auto p-1 delete">    
                            <p> Clicca <span style="text-decoration: underline; color: #023365; text-decoration-thickness: 2px">conferma</span> per rimuovere l'utente: 
                                <h2> {{ member.name|upper }} {{ member.surname|upper }} </h2>
                            </p>
                                                        
                            <button type="button" class="reset action-button mb-3 mt-3 mx-auto">
                                <a href="{{ doc_root }}admin/users" style="color: white"> Annulla </a>
                            </button> 
                            
                            &nbsp;&nbsp;
                            
                            <button type="submit" name="submit" class="submit action-button mb-3 mt-1 mx-auto"> Conferma </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}