{% extends 'admin/layout.html' %}
{% block title %} Utenti {{ 'now'|date('Y') }} {% endblock %}

{% block content %} 
    <section class="grid-container mt-1 mb-0">
        <div class="submenu align-items-center my-auto mx-auto p-2">
            <div class="grid-item mx-auto my-1 p-1 justify-content-center">
                <a href="{{ doc_root }}admin/users">
                    <h3 class="m-0 p-4 submenu-title"> 
                        Utenti
                    </h3>
                </a>
                
                <div class="breadcrumb-holder justify-content-center mx-auto p-2 my-auto" aria-label="breadcrumb">
                    <ul class="rounded-breadcrumbs mx-auto my-auto p-1 justify-content-center">
                        <li>
                            <a class="breadcrumb-link my-auto" aria-current="page" style="width: 10.9rem; font-size: 0.3rem; text-align: center"
                                href="{{ doc_root }}admin/register">
                                REGISTRAZIONE 
                            </a>
                        </li>

                        <li>
                            <a class="breadcrumb-link my-auto" aria-current="page" style="width: 10.9rem; font-size: 0.3rem; text-align: center"
                                href="{{ doc_root }}admin/titles">
                                RUOLI AZIENDALI
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="grid-container mx-1 mt-0">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body table-responsive">
                    <table class="table table-hover mx-auto w-auto signup" style="text-align: center; font-weight: 400">
                        <thead>
                            <tr class="table-title border-bottom border-light">
                                <th class="align-middle p-3 px-4" style="border-right: 2px solid rgba(255, 255, 255, 0.2)"> # </th>
                                <th class="align-middle p-3 px-4" style="border-right: 2px solid rgba(255, 255, 255, 0.2)"> Nome e cognome </th>
                                <th class="align-middle p-3 px-4" style="border-right: 2px solid rgba(255, 255, 255, 0.2)"> Indirizzo e-mail </th>
                                <th class="align-middle p-3 px-4" style="border-right: 2px solid rgba(255, 255, 255, 0.2)"> Username </th>
                                <th class="align-middle p-3 px-4" style="border-right: 2px solid rgba(255, 255, 255, 0.2)" colspan="3"> Data e luogo di nascita </th>
                                <th class="align-middle p-3 px-4" style="border-right: 2px solid rgba(255, 255, 255, 0.2)"> Ruolo aziendale </th>
                                <th class="align-middle p-3 px-4" style="border-right: 2px solid rgba(255, 255, 255, 0.2)"> Accesso </th>
                                <th class="align-middle p-3 px-4"> Account creato </th>
                            </tr>
                        </thead>

                        <tbody class="table-body">  
                        {% set order = 1 %}
                        {% for u in users %}
                            <tr>
                                <td scope="row" class="align-middle" style="border-right: 2px solid rgba(255, 255, 255, 0.2)">
                                    <a href="" class="text-dark">
                                        {{ order }}
                                        {% set order = order + 1 %}
                                    </a> 
                                        <br>
                                    <a href="{{ doc_root }}admin/member/{{ u.id_user }}" class="text-dark" role="button">
                                            <i class="bi bi-pencil-square"></i> 
                                    </a>
                                    
                                    <a href="{{ doc_root }}admin/member-delete/{{ u.id_user }}" class="text-dark" role="button">
                                            <i class="bi bi-trash"></i> 
                                    </a>
                                </td>
                                <td class="align-middle"> {{ u.member|upper }} </td>
                                <td class="align-middle"> {{ u.email }} </td>
                                <td class="align-middle"> {{ u.username|lower }} </td>
                                <td class="align-middle"> &nbsp; {{ u.birthday|date('d/m/Y') }} &nbsp; </td>
                                <td class="align-middle" colspan="2"> {{ u.city|capitalize }}, {{ u.country|capitalize }} </td>
                                <td class="align-middle"> 
                                    <abbr title="{{ u.title_name }}" style="text-decoration: none">
                                        {{ u.title|upper }}
                                    </abbr> 
                                </td>
                                <td class="align-middle"> {{ u.role|capitalize }} </td>
                                <td class="align-middle"> {{ u.joined|date('d/m/Y') }} </td>
                            </tr> 
                        {% endfor %}
                        </tbody>
                        
                        <tfoot>
                            <tr>
                                <td colspan="10" class="text-light align-middle mb-2 p-1">
                                    <h5 style="font-weight: 600" class="my-1">
                                        TOTALE <i class="bi bi-people ms-1"></i> :
                                        <span> &nbsp; {{ total }} </span>
                                    </h5> 
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div> 
            </div>
        </div>
    </section>    
{% endblock %}