<!-- PREVIEW TRANSPORT FORM INPUTS -->
<div class="col-4 m-auto p-0 review">                
    <div style="margin-bottom: 10px">
        <label for="slot" style="display: inline-block; vertical-align: middle; text-align: center; font-size: 16px; align-items: center" class="m-auto align-middle preview-label"> 
            Slot ID: 
        </label>
        <input type="text" class="slot" name="slot" readonly="readonly" style="width: 65%; height: 50%; float: right; font-size: 16px"/>
    </div>
                                
    <div style="margin-bottom: 10px">
        <label for="cmr" style="display: inline-block; vertical-align: middle; text-align: center; font-size: 16px; align-items: center" class="m-auto align-middle preview-label"> 
            CMR: 
        </label>
        <input type="text" class="cmr preview-input" name="cmr" readonly="readonly" style="width: 65%; height: 50%; float: right; font-size: 16px"/>
    </div>
                            
    <input type="hidden" class="type" name="type" readonly="readonly"/>
                                
    <div style="margin-bottom: 10px">
        <label for="issuer" style="display: inline-block; vertical-align: middle; text-align: center; font-size: 16px; align-items: center" class="m-auto align-middle preview-label"> 
            Fornitore: 
        </label>
        <input type="text" class="issuer preview-input" name="issuer" readonly="readonly" style="width: 65%; height: 50%; float: right; font-size: 16px"/>
    </div>
                                    
    <div style="margin-bottom: 10px">
        <label for="show_supplier" style="display: inline-block; vertical-align: middle; text-align: center; font-size: 16px; align-items: center" class="m-auto align-middle preview-label"> 
            Emittente: 
        </label>
        <input type="text" class="show_supplier preview-input" name="show_supplier" readonly="readonly" style="width: 65%; height: 50%; float: right; font-size: 16px"/>
    </div>
                                    
    <div style="margin-bottom: 10px">
        <label for="transport" style="display: inline-block; vertical-align: middle; text-align: center; font-size: 16px; align-items: center" class="m-auto align-middle preview-label"> 
            Trasporto: 
        </label>
        <input type="text" class="transport preview-input" name="transport" readonly="readonly" style="width: 65%; height: 50%; float: right; font-size: 16px"/>
    </div>    
                             
    <div style="margin-bottom: 10px">
        <label for="date_load" style="display: inline-block; vertical-align: middle; text-align: center; font-size: 16px; align-items: center" class="m-auto align-middle preview-label"> 
            Data carico: 
        </label>
        <input type="text" class="date_load preview-input" name="date_load" readonly="readonly" style="width: 65%; height: 50%; float: right; font-size: 16px"/>
    </div>   
                        
    <div style="margin-bottom: 10px">
        <label for="date_unload" style="display: inline-block; vertical-align: middle; text-align: center; font-size: 16px; align-items: center" class="m-auto align-middle preview-label"> 
            Data scarico: 
        </label>
        <input type="text" class="date_unload preview-input" name="date_unload" readonly="readonly" style="width: 65%; height: 50%; float: right; font-size: 16px"/>
    </div>   
                        
    <div style="margin-bottom: 10px">
        <label for="container" style="display: inline-block; vertical-align: middle; text-align: center; font-size: 16px; align-items: center" class="m-auto align-middle preview-label"> 
            Container: 
        </label>
        <input type="text" class="container preview-input" name="container" readonly="readonly" style="width: 65%; height: 50%; float: right; font-size: 16px"/>
    </div>   
                            
    <div style="margin-bottom: 10px">
        <label for="note" style="display: inline-block; vertical-align: middle; text-align: center; font-size: 16px; align-items: center" class="m-auto align-middle preview-label"> 
            Nota:
        </label>
        <input type="text" class="note preview-input" name="note" readonly="readonly" style="width: 65%; height: 50%; float: right; font-size: 16px"/>
    </div>   
</div>
        
<!-- PREVIEW QUANTITY FORM INPUTS -->                
<div class="col-4 m-auto p-0 review">
    <input type="hidden" class="show" readonly="readonly"/>
    <input type="hidden" class="show" readonly="readonly"/>
                            
    <div style="margin-bottom: 10px" class="me-5">
        <label for="kg_load" style="display: inline-block; vertical-align: middle; text-align: center; font-size: 16px; align-items: center" class="m-auto align-middle preview-label"> 
            Quantita caricata: 
        </label>
        <input type="text" class="kg_load" name="kg_load" readonly="readonly" style="width: 40%; height: 50%; font-size: 16px; float: right"/>
    </div>

    <div style="margin-bottom: 10px" class="me-5">
        <label for="cooling" style="display: inline-block; vertical-align: middle; text-align: center; font-size: 16px; align-items: center" class="m-auto align-middle preview-label"> 
            Raffreddamento: 
        </label>
        <input type="text" class="cooling" name="cooling" readonly="readonly" style="width: 40%; height: 50%; font-size: 16px; float: right"/>
    </div>
                            
    <div style="margin-bottom: 10px" class="me-5">
        <label for="price_typology" style="display: inline-block; vertical-align: middle; text-align: center; font-size: 16px; align-items: center" class="m-auto align-middle preview-label"> 
            Tipologia costo: 
        </label>
        <input type="text" class="price_typology preview-input" name="price_typology" readonly="readonly" style="width: 40%; height: 50%; font-size: 16px; float: right"/>
    </div> 

    <div style="margin-bottom: 10px" class="me-5">
        <label for="price_value" style="display: inline-block; vertical-align: middle; text-align: center; font-size: 16px; align-items: center" class="m-auto align-middle preview-label"> 
            Valore costo: 
        </label>
        <input type="text" class="price_value preview-input" name="price_value" readonly="readonly" style="width: 40%; height: 50%; font-size: 16px; float: right"/>
    </div> 
                            
    <div style="margin-bottom: 10px" class="me-5">
        <label for="kg_unload" style="display: inline-block; vertical-align: middle; text-align: center; font-size: 16px; align-items: center" class="m-auto align-middle preview-label"> 
            Quantita scaricata: 
        </label>
        <input type="text" class="kg_unlaod preview-input" name="kg_unload" readonly="readonly" style="width: 40%; height: 50%; font-size: 16px; float: right"/>
    </div> 

    <div style="margin-bottom: 10px" class="me-5">
        <label for="liquid_density" style="display: inline-block; vertical-align: middle; text-align: center; font-size: 16px; align-items: center" class="m-auto align-middle preview-label"> 
            Tipologia costo: 
        </label>
        <input type="text" class="liquid_density preview-input" name="liquid_density" readonly="readonly" style="width: 40%; height: 50%; font-size: 16px; float: right"/>
    </div>                               
                                
    <div style="margin-bottom: 10px" class="me-5">
        <label for="gas_weight" style="display: inline-block; vertical-align: middle; text-align: center; font-size: 16px; align-items: center" class="m-auto align-middle preview-label"> 
            Peso specifico: 
        </label>
        <input type="text" class="gas_weight preview-input" name="gas_weight" readonly="readonly" style="width: 40%; height: 50%; font-size: 16px; float: right"/>
    </div> 
                            
    <div style="margin-bottom: 10px" class="me-5">
        <label for="pcs_ghv" style="display: inline-block; vertical-align: middle; text-align: center; font-size: 16px; align-items: center" class="m-auto align-middle preview-label"> 
            PCS GHV: 
        </label>
        <input type="text" class="pcs_ghv preview-input" name="pcs_ghv" readonly="readonly" style="width: 40%; height: 50%; font-size: 16px; float: right"/>
    </div>                            
</div>

<!-- PREVIEW PARTIAL FORM INPUTS --> 
<div class="col-4 m-auto p-0 review">    
    <input type="hidden" class="show" readonly="readonly"/>
    <input type="hidden" class="show" readonly="readonly"/>
    <input type="hidden" class="show" readonly="readonly"/>
                    
    <div style="margin-bottom: 10px" class="me-5">
        <label for="destination" style="display: inline-block; vertical-align: middle; text-align: center; font-size: 16px; align-items: center" class="m-auto align-middle preview-label"> 
            Destinazione: 
        </label>
        <input type="text" class="destination" name="destination[]" readonly="readonly" style="width: 40%; height: 50%; font-size: 16px; float: right"/>
    </div>

    <div style="margin-bottom: 10px" class="me-5">
        <label for="exw" style="display: inline-block; vertical-align: middle; text-align: center; font-size: 16px; align-items: center" class="m-auto align-middle preview-label"> 
            EXV: 
        </label>
        <input type="text" class="exw" name="exw[]" readonly="readonly" style="width: 40%; height: 50%; font-size: 16px; float: right"/>
    </div>
                            
    <div style="margin-bottom: 10px" class="me-5">
        <label for="date" style="display: inline-block; vertical-align: middle; text-align: center; font-size: 16px; align-items: center" class="m-auto align-middle preview-label"> 
            Data: 
        </label>
        <input type="text" class="date preview-input" name="date[]" readonly="readonly" style="width: 40%; height: 50%; font-size: 16px; float: right"/>
    </div> 

    <div style="margin-bottom: 10px" class="me-5">
        <label for="place" style="display: inline-block; vertical-align: middle; text-align: center; font-size: 16px; align-items: center" class="m-auto align-middle preview-label"> 
            Luogo: 
        </label>
        <input type="text" class="place preview-input" name="place[]" readonly="readonly" style="width: 40%; height: 50%; font-size: 16px; float: right"/>
    </div> 
                            
    <div style="margin-bottom: 10px" class="me-5">
        <label for="q_unloaded" style="display: inline-block; vertical-align: middle; text-align: center; font-size: 16px; align-items: center" class="m-auto align-middle preview-label"> 
            Quantita scaricata: 
        </label>
        <input type="text" class="q_unloaded preview-input" name="q_unloaded[]" readonly="readonly" style="width: 40%; height: 50%; font-size: 16px; float: right"/>
    </div> 

    <div style="margin-bottom: 10px" class="me-5">
        <label for="invoice" style="display: inline-block; vertical-align: middle; text-align: center; font-size: 16px; align-items: center" class="m-auto align-middle preview-label"> 
            Fattura: 
        </label>
        <input type="text" class="invoice preview-input" name="invoice[]" readonly="readonly" style="width: 40%; height: 50%; font-size: 16px; float: right"/>
    </div>                                                        
</div>