<form id="user-edit" action="{{ doc_root }}admin/profile-edit/{{ user.id_user }}" method="POST">
    <div class="row m-1 mt-2 p-1 user-edit">
        <div class="col-md-auto m-auto p-1">
            <div class="row mb-1 mt-2">
                <label for="name" class="col-lg-6 col-form-label"> Nome </label>
                    <div class="col-lg-6">
                        <input name="name" type="text" class="form-control" value="{{ user.name|capitalize }}">
                    </div>
            </div>
            
            <div class="row mb-1">
                <label for="surname" class="col-lg-6 col-form-label"> Cognome </label>
                    <div class="col-lg-6">
                        <input name="surname" type="text" class="form-control" value="{{ user.surname|capitalize }}">
                    </div>
            </div>
            
            <div class="row mb-1">
                <label for="bday" class="col-lg-6 col-form-label"> Data di nascita </label>
                    <div class="col-lg-6">
                        <input type="text" name="bday" class="form-control date" value="{{ user.birthday|date('d-m-Y') }}">
                    </div>
            </div>
            
            <div class="row mb-1">
                <label for="city" class="col-lg-6 col-form-label"> Luogo di nascita </label>
                    <div class="col-lg-6">
                        <input name="city" type="text" class="form-control" value="{{ user.city|capitalize }}">
                    </div>
            </div>

            <div class="row mb-1">
                <label for="country" class="col-lg-6 col-form-label"></label>
                    <div class="col-lg-6">
                        <input name="country" type="text" class="form-control" value="{{ user.country|capitalize }}">
                    </div>
            </div>

            <div class="row mb-1">
                <label for="username" class="col-lg-6 col-form-label"> Username </label>
                <div class="col-lg-6">
                    <input name="username" type="text" class="form-control" value="{{ user.username|lower }}">
                </div>
            </div>
            
            <div class="row mb-2">
                <label for="email" class="col-lg-6 col-form-label"> Indirizzo e-mail </label>
                <div class="col-lg-6">
                    <input name="email" type="text" class="form-control" value="{{ user.email|lower }}">
                </div>
            </div>  
        </div>

        <div class="col-md-auto m-auto">
            <div class="col mb-2 mt-1">
                <label for="title" class="col-lg-12 col-form-label"> Ruolo aziendale </label>
                    <div class="col">
                        <select class="form-control" name="title" id="titles">
                        {% for t in titles %}
                            <option value="{{ t.id_title }}" class="opt-type" 
                            {% if (user.id_title == t.id_title) %} selected {% endif %}> 
                                {{ t.name }} 
                            </option>
                        {% endfor %}
                        </select>
                    </div>
            </div>
            
            <div class="col mb-2">
                <label for="role" class="col-lg-12 col-form-label"> Accesso </label>
                    <div class="col">
                        <select class="form-control" name="role" id="roles">
                        {% for r in roles %}
                            <option value="{{ r.id_role }}" class="opt-type" 
                            {% if (user.id_role == r.id_role) %} selected {% endif %}> 
                                {{ r.name|capitalize }} 
                            </option>
                        {% endfor %}
                        </select>
                    </div>   
            </div>

            <div class="row p-1 mx-auto mb-0">
                <button type="submit" name="submit" id="submit" class="submit action-button mt-4 mb-2"> Salva </button> 
            </div>                            
        </div>                            
    </div> 
</form>