<section class="col-9 mx-auto new-form">
    <div class="container-fluid mx-auto">
        <div class="card card-user">
            <div class="card-header mx-auto my-auto">
                <h2 class="form-title mx-auto my-3"> 
                    <i class="bi bi-pencil-square my-auto mx-1"></i>
                        MODIFICA PROFILO
                    <i class="bi bi-pencil-square my-auto mx-1"></i>
                </h2>
        
                    <h4 class="form-subtitle mx-auto my-2"> 
                        Modifica i dati esistenti del profilo.
                    </h4>
            </div>

            <form id="profile-edit" action="{{ doc_root }}profile-edit/{{ user.id_user }}" method="POST">
                <div class="card-body row">
                    <div class="row mx-auto my-2">
                        <div class="col-6 my-auto">
                            <label for="name" class="form-control-label my-1"> Nome: </label>
                        </div>
                                                
                        <div class="col-6">
                            <input type="text" class="form-control" name="name" value="{{ user.name|capitalize }}" />
                        </div>
                    </div>

                    <div class="row mx-auto my-2">
                        <div class="col-6 my-auto">
                            <label for="surname" class="form-control-label my-1"> Cognome: </label>
                        </div>
                                                
                        <div class="col-6">
                            <input type="text" class="form-control" name="surname" value="{{ user.surname|capitalize }}" />
                        </div>
                    </div>
    
                    <div class="row mx-auto my-2">
                        <div class="col-6 my-auto">
                            <label for="birthday" class="form-control-label my-1"> Data di nascita: </label>
                        </div>
                                                
                        <div class="col-6">
                            <input type="text" class="form-control date" name="birthday" value="{{ user.birthday|date('d-m-Y') }}" />
                        </div>
                    </div>
    
                    <div class="row mx-auto my-2">
                        <div class="col-6 my-auto">
                            <label for="city" class="form-control-label my-1"> Luogo di nascita: </label>
                        </div>
                                                
                        <div class="col-6">
                            <input type="text" class="form-control" name="city" value="{{ user.city|capitalize }}" />
                        </div>
                    </div>

                    <div class="row mx-auto my-2">
                        <div class="col-6 my-auto">
                            <label for="country" class="form-control-label my-1"> </label>
                        </div>
                                                
                        <div class="col-6">
                            <input type="text" class="form-control" name="country" value="{{ user.country|capitalize }}" />
                        </div>
                    </div>

                    <div class="row mx-auto my-2">
                        <div class="col-6 my-auto">
                            <label for="username" class="form-control-label my-1"> Username: </label>
                        </div>
                                                
                        <div class="col-6">
                            <input type="text" class="form-control" name="username" value="{{ user.username|lower }}" />
                        </div>
                    </div>

                    <div class="row mx-auto my-2">
                        <div class="col-6 my-auto">
                            <label for="email" class="form-control-label my-1"> Indirizzo e-mail: </label>
                        </div>
                                                
                        <div class="col-6">
                            <input type="text" class="form-control" name="email" value="{{ user.email }}" />
                        </div>
                    </div>
                </div>

                <div class="card-footer my-auto mx-auto py-1">      
                    <button type="submit" class="my-4 action-button save" name="save">
                        <span class="m-auto">
                            SALVA <i class="bi bi-check-circle"></i>
                        </span>
                    </button>
                </div>   
            </form>
        </div>
    </div>
</section>