{% extends 'admin/layout.html' %}
{% block title %} Profilo - {{ session.username }} {% endblock %}

{% block content %}
    <!--    =====>    PROFILE TITLE NAVIGATION    <=====    -->
    <section class="grid-container mt-1 mb-0 pb-0 profile">
        <div class="submenu align-items-center my-auto mx-auto p-2">
            <div class="grid-item mx-auto my-1 p-1 justify-content-center">
                <a href="{{ doc_root }}admin/profile">
                    <h3 class="m-0 p-4 submenu-title"> 
                        Profilo
                    </h3>
                </a>

                <!--    ===>    Profile Tab Navigation    <===    -->          
                <div class="breadcrumb-holder justify-content-center mx-auto p-2 my-auto" aria-label="breadcrumb">
                    <ul class="rounded-breadcrumbs mx-auto my-auto p-1 justify-content-center nav nav-tabs">
                        <li class="nav-item">
                            <button class="breadcrumb-link my-auto active" data-bs-toggle="tab" data-bs-target="#profile-overview"
                                    style="width: 10.9rem; font-size: 0.3rem; text-align: center">
                                Profilo
                            </button>
                        </li>

                        <li class="nav-item">
                            <button class="breadcrumb-link my-auto" data-bs-toggle="tab" data-bs-target="#profile-edit"
                                    style="width: 10.9rem; font-size: 0.3rem; text-align: center">
                                Modifica profilo
                            </button>
                        </li>

                        <li class="nav-item">
                            <button class="breadcrumb-link my-auto" data-bs-toggle="tab" data-bs-target="#change-password"
                                    style="width: 10.9rem; font-size: 0.3rem; text-align: center">
                                Cambia password
                            </button>
                        </li>
                    </ul>
                </div>
                <!--    ===>    End Profile Tab Navigation    <===    -->
            </div>
        </div>
    </section>
    <!--    =====>    PROFILE TITLE NAVIGATION    <=====    -->
    
    <!--    =====>    PROFILE    <=====    -->
    <section class="grid-container mx-auto mt-0 profile">
        <div class="row">
            <div class="card details m-auto">
                <!--    ===>    Bordered Tabs    <===    -->           
                <div class="card-body pt-2">          
                    <div class="tab-content">
                        <!--    ===>    Profile Overview    <===    -->                
                        <div class="tab-pane fade show active p-1 profile-overview m-auto" id="profile-overview">        
                            <div class="row m-1 p-1">
                                <!--    ===>    Profile Card    <===    -->
                                <div class="col-lg-4 m-auto p-1">
                                    <div class="card profile-card mx-0 my-auto">
                                        <div class="card-body m-auto">

                                            {% if (session.id_user == user.id_user) %}
                                            <div class="row mx-auto p-0 mb-0 mt-2">
                                                <div class="col mx-auto my-auto mb-1 profile-body">
                                                    <div class="align-middle m-auto mb-3">
                                                        <img src="{{ doc_root }}img/profile-avatar-light1.jpg" alt="Profilo" class="rounded-circle mb-0 p-0">
                                                    </div>
                                                    
                                                    <div class="align-middle mx-auto mb-1">
                                                        <i class="bi bi-person me-1" style="font-size: 1.5rem"></i>
                                                            <span style="font-size: 1.4rem; color: rgb(240, 233, 223); letter-spacing: 0.5px"> 
                                                                {{ user.member|upper }} 
                                                            </span>
                                                    </div>
                        
                                                    <div class="align-middle mx-auto">
                                                        <i class="bi bi-clock-history me-1"></i>
                                                            <span>
                                                                {{ user.joined|format_date('long', locale='it-IT') }}
                                                            </span>
                                                    </div>
                        
                                                    <div class="align-middle mx-auto">
                                                        <i class="bi bi-pencil-square me-1"></i>
                                                            <span>
                                                                {{ user.modified|format_date('long', locale='it-IT') }} <br>
                                                            </span>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <!--    ===>    End Profile Card    <===    -->
                                            
                                <!--    ===>    Profile Details    <===    -->
                                <div class="col-lg-7 m-auto user-info">
                                    <div class="row mb-2 mt-3 mx-auto">
                                        <div class="col-lg-6 label mx-auto"> Nome </div>
                                        <div class="col-lg-6 profile-details"> {{ user.name|capitalize }} </div>
                                    </div>
        
                                    <div class="row mb-2 mx-auto">
                                        <div class="col-lg-6 label mx-auto"> Cognome </div>
                                        <div class="col-lg-6 profile-details"> {{ user.surname|capitalize }} </div>
                                    </div>
        
                                    <div class="row mb-2 mx-auto">
                                        <div class="col-lg-6 label mx-auto"> Data di nascita </div>
                                        <div class="col-lg-6 profile-details"> {{ user.birthday|format_date('long', locale='it') }} </div>
                                    </div>
        
                                    <div class="row mb-2 mx-auto">
                                        <div class="col-lg-6 label mx-auto"> Luogo di nascita </div>
                                        <div class="col-lg-6 profile-details"> {{ user.city|capitalize }}, {{ user.country|capitalize }} </div>
                                    </div>
        
                                    <div class="row mb-2 mx-auto">
                                        <div class="col-lg-6 label mx-auto"> Username </div>
                                        <div class="col-lg-6 profile-details"> {{ user.username|lower }} </div>
                                    </div>
        
                                    <div class="row mb-2 mx-auto">
                                        <div class="col-lg-6 label mx-auto"> Indirizzo e-mail </div>
                                        <div class="col-lg-6 profile-details"> {{ user.email }} </div>
                                    </div>
        
                                    <div class="row mb-2 mx-auto">
                                        <div class="col-lg-6 label mx-auto"> Ruolo aziendale </div>
                                        <div class="col-lg-6 profile-details"> {{ user.title_name }} </div>
                                    </div>
        
                                    <div class="row mb-3 mx-auto">
                                        <div class="col-lg-6 label mx-auto"> Ruolo </div>
                                        <div class="col-lg-6 profile-details"> {{ user.role|capitalize }} </div>
                                    </div>
                                </div>
                                <!--    ===>    End Profile Details    <===    -->
                            </div>
                        </div>
                        <!--    ===>    End Profile Overview    <===    -->
                        
                        <!--    ===>    Profile Edit Form    <===    -->
                        <div class="tab-pane fade profile-edit p-1 m-auto" id="profile-edit">
                            {{ include('admin/profile-edit.html') }}
                        </div>
                        <!--    ===>    End Profile Edit Form    <===    -->

                        <!--    ===>    Change Password Form    <===    -->
                        <div class="tab-pane fade change-password p-1 m-auto" id="change-password">
                            {{ include('admin/change-password.html') }}
                        </div>
                        <!--    ===>    End Change Password Form    <===    -->
                    </div>
                </div>
                <!--    ===>    End Bordered Tabs    <===    -->
            </div>
        </div>
    </section>
    <!--    =====>    END PROFILE    <=====    -->
{% endblock %}

{% block jsScript %}    
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">      <!-- Bootstrap 5 CSS -->
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/css/datepicker.min.css'>              <!-- Vanilla Datepicker CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/css/datepicker-bs5.min.css">          <!-- Vanilla Datepicker CSS -->
<script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/js/datepicker.min.js"></script>
    
<script>
    $(document).ready(function(){    
//  ===> DATEPICKER     
        //use datepicker on the date inputs
        $(".date").datepicker({
            format: 'dd-mm-yyyy',
            autoclose: true,
            language: 'it-IT', 
        });
//  ===> END DATEPICKER   
    });   
</script>   
        
<!--    ===>    BOOTSTRAP DATEPICKER    <===    -->    
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js" integrity="sha512-LsnSViqQyaXpD4mBBdRYeP6sRwJiJveh2ZIbW41EBrNmKxgr/LFZIiWT6yr+nycvhvauz8c2nYMhrP80YhG7Cw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/locales/bootstrap-datepicker.it.min.js" charset="UTF-8"></script>
<!--    ===>    END BOOTSTRAP DATEPICKER    <===    -->   
{% endblock %}