{% extends 'layout.html' %}
{% block title %} Profilo - {{ session.username }} {% endblock %}

{% block content %}
    <!--    =====>    PROFILE TITLE NAVIGATION    <=====    -->
    <section class="col-12 mx-auto my-4">
        <div class="justify-content-center m-auto p-2 submenu">
            <div class="d-flex justify-content-center mx-auto my-auto p-1">
                <a class="m-auto" href="{{ doc_root }}profile">
                    <h1 class="m-auto p-5 submenu-title"> 
                        PROFILO
                    </h1>
                </a>
            </div>

            <!--    ===>    Profile Tab Navigation    <===    -->  
            <div class="d-flex justify-content-center m-auto p-2" id="profile-nav">
                <ul class="nav nav-pills justify-content-center m-auto p-1" role="tablist">
                    <li class="nav-item m-auto p-1" role="presentation">
                        <button class="nav-link active" id="p-overview" data-bs-toggle="pill" data-bs-target="#profile-overview" type="button" role="tab"
                                aria-controls="profile-overview" aria-selected="true" aria-current="page">
                                    PROFILO
                        </button>
                    </li>

                    <li class="breadcrumb-item m-auto p-1"> 
                        <i class="bi bi-circle-fill"></i>
                    </li>

                    <li class="nav-item m-auto p-1" role="presentation">
                        <button class="nav-link" id="p-edit" data-bs-toggle="pill" data-bs-target="#edit-profile" type="button" role="tab"
                                aria-controls="profile-edit" aria-selected="false">
                                    MODIFICA PROFILO
                        </button>
                    </li>

                    <li class="breadcrumb-item m-auto p-1"> 
                        <i class="bi bi-circle-fill"></i>
                    </li>

                    <li class="nav-item m-auto p-1" role="presentation">
                        <button class="nav-link" id="p-password" data-bs-toggle="pill" data-bs-target="#change-password" type="button" role="tab"
                                aria-controls="change-password" aria-selected="false">
                                    CAMBIA PASSWORD
                        </button>
                    </li>
                </ul>
                <!--    ===>    End Profile Tab Navigation    <===    -->
            </div>
        </div>
    </section>
    <!--    =====>    PROFILE TITLE NAVIGATION    <=====    -->
    
    <!--    =====>    USER PROFILE    <=====    -->
    <section class="col-8 mx-auto profile">
        <div class="row">
            <div class="card">          
                <div class="card-body">   
                    <!--    ===>    Tab Content    <===    -->        
                    <div class="tab-content">

                        <!--    ===>    #PROFILE OVERVIEW TAB    <===    -->                
                        <div class="tab-pane fade in show active profile-overview" id="profile-overview" role="tabpanel" aria-labelledby="p-overview" tabindex="0">        
                            <div class="row">

                                <!--    ===>    Profile Card    <===    -->
                                <div class="col-4 m-auto">
                                    <div class="card">
                                        <div class="card-body col my-1 p-1 profile-body">

                                            {% if (session.id_user == user.id_user) %}
                                            <!--<div class="row" style="border: 2px solid yellow">-->
                                                <div class="mt-5">
                                                    <img src="{{ doc_root }}img/profile-avatar-light1.jpg" alt="Profilo" class="rounded-circle mb-0 p-0">
                                                </div>
                                                    
                                                <div class="my-3 profile-name">
                                                    <i class="bi bi-person">
                                                        <span> 
                                                            {{ user.name|upper }} {{ user.surname|upper }} 
                                                        </span>
                                                    </i>
                                                </div>
                        
                                                <div class="">
                                                    <i class="bi bi-clock-history">
                                                        <span class="ms-2">
                                                            {{ user.joined|format_date('long', locale='it-IT') }}
                                                        </span>
                                                    </i>
                                                </div>
                        
                                                <div class="">
                                                    <i class="bi bi-pencil-square">
                                                        <span class="ms-2">
                                                            {{ user.modified|format_date('long', locale='it-IT') }} <br>
                                                        </span>
                                                    </i>  
                                                </div>  
                                            <!--</div>-->
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <!--    ===>    End Profile Card    <===    -->
                                            
                                <!--    ===>    Profile Details    <===    -->
                                <div class="col-8 m-auto user-info profile-edit">
                                    <div class="card">
                                        <div class="card-body my-2 p-1 user-edit">
                                            <div class="row mx-auto my-1">
                                                <div class="col-6 m-auto col-form-label"> Nome </div>
                                                <div class="col-6 my-auto profile-view"> {{ user.name|capitalize }} </div>
                                            </div>
        
                                            <div class="row mx-auto my-1">
                                                <div class="col-6 m-auto col-form-label"> Cognome </div>
                                                <div class="col-6 my-auto profile-view"> {{ user.surname|capitalize }} </div>
                                            </div>
                
                                            <div class="row mx-auto my-1">
                                                <div class="col-6 m-auto col-form-label"> Data di nascita </div>
                                                <div class="col-6 my-auto profile-view"> {{ user.birthday|format_date('long', locale='it') }} </div>
                                            </div>
                
                                            <div class="row mx-auto my-1">
                                                <div class="col-6 m-auto col-form-label"> Luogo di nascita </div>
                                                <div class="col-6 my-auto profile-view"> {{ user.city|capitalize }}, {{ user.country|capitalize }} </div>
                                            </div>
                
                                            <div class="row mx-auto my-1">
                                                <div class="col-6 m-auto col-form-label"> Username </div>
                                                <div class="col-6 my-auto profile-view"> {{ user.username|lower }} </div>
                                            </div>
                
                                            <div class="row mx-auto my-1">
                                                <div class="col-6 m-auto col-form-label"> Indirizzo e-mail </div>
                                                <div class="col-6 my-auto profile-view"> {{ user.email }} </div>
                                            </div>
        
                                            <div class="row mx-auto my-1">
                                                <div class="col-6 m-auto col-form-label"> Ruolo aziendale </div>
                                                <div class="col-6 my-auto profile-view"> {{ user.title }} </div>
                                            </div>
                
                                            <div class="row mx-auto my-1">
                                                <div class="col-6 m-auto col-form-label"> Ruolo </div>
                                                <div class="col-6 my-auto profile-view"> {{ user.role|capitalize }} </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--    ===>    End Profile Details    <===    -->
                            </div>
                        </div>
                        <!--    ===>    END #PROFILE OVERVIEW TAB    <===    -->
                        
                        <!--    ===>    #PROFILE EDIT FORM TAB    <===    -->
                        <div class="tab-pane fade in" id="edit-profile" role="tabpanel" aria-labelledby="p-edit" 
                            tabindex="0">
                                {{ include('profile-edit.html') }}
                        </div>
                        <!--    ===>    END #PROFILE EDIT FORM TAB    <===    -->

                        <!--    ===>    #CHANGE PASSWORD FORM TAB    <===    -->
                        <div class="tab-pane fade in" id="change-password" role="tabpanel" aria-labelledby="p-password"
                            tabindex="0">
                            {{ include('change-password.html') }}
                        </div>
                        <!--    ===>    END #CHANGE PASSWORD FORM TAB    <===    -->
                    </div>
                </div>
                <!--    ===>    End Bordered Tabs    <===    -->
            </div>
        </div>
    </section>
    <!--    =====>    END PROFILE    <=====    -->
{% endblock %}

{% block jsScript %}    
<!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">      <!-- Bootstrap 5 CSS -->
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/css/datepicker.min.css'>              <!-- Vanilla Datepicker CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/css/datepicker-bs5.min.css">          <!-- Vanilla Datepicker CSS -->
<script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/js/datepicker.min.js"></script>
    
<script>
    $(document).ready(function(){    
//  ===> DATEPICKER     
        //use datepicker on the date inputs
        $(".date").datepicker({
            format: 'dd-mm-yyyy',
            autoclose: true,
            language: 'it-IT', 
        });
//  ===> END DATEPICKER   
    }); 
</script>   
        
<!--    ===>    BOOTSTRAP DATEPICKER    <===    -->    
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js" integrity="sha512-LsnSViqQyaXpD4mBBdRYeP6sRwJiJveh2ZIbW41EBrNmKxgr/LFZIiWT6yr+nycvhvauz8c2nYMhrP80YhG7Cw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/locales/bootstrap-datepicker.it.min.js" charset="UTF-8"></script>
<!--    ===>    END BOOTSTRAP DATEPICKER    <===    -->   
{% endblock %}