<div class="modal fade" id="newUser" tabindex="-1" role="dialog" aria-labelledby="edit-user" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header row">
                <h2 class="form-title mx-auto my-auto"> 
                    <i class="bi bi-people my-auto mx-1"></i>
                        REGISTRAZIONE
                    <i class="bi bi-people my-auto mx-1"></i>
                </h2>
    
                    <h4 class="form-subtitle mx-auto my-2"> 
                        Inserire i dati richiesti per creare il nuovo utente.
                    </h4>
            </div>
        
            <div class="modal-body">
                <div class="container-fluid my-1">

                    <form id="member-form" method="POST" action="{{ doc_root }}admin/user">
                        <div class="row mx-auto">
                            <div class="col-4">
                                <label class="form-control-label"> Nome: </label>
                            </div>
                                                
                            <div class="col-8">
                                <input type="text" class="form-control" name="name" value="" />
                            </div>
                        </div>

                        <div class="row mx-auto">
                            <div class="col-4">
                                <label class="form-control-label"> Cognome: </label>
                            </div>
                                            
                            <div class="col-8">
                                <input type="text" class="form-control" name="surname" value="" />
                            </div>
                        </div>
                                            
                        <div class="row mx-auto">
                            <div class="col-4">
                                <label class="form-control-label"> Indirizzo e-mail: </label>
                            </div>
                                                
                            <div class="col-8">
                                <input type="text" class="form-control" name="email" value="" />
                            </div>
                        </div>
                    
                        <div class="row form-group mx-auto">
                            <div class="col-4">
                                <label class="form-control-label"> Username: </label>
                            </div>
                                
                            <div class="col-8">
                                <input type="text" class="form-control" name="username" value="" />
                            </div>
                        </div>                                 
                    
                        <div class="row form-group mx-auto">
                            <div class="col-4">
                                <label class="form-control-label"> Password: </label>
                            </div>
                                
                            <div class="col-8">
                                <input type="text" class="form-control" name="password" value="" />
                            </div>
                        </div>

                        <div class="row form-group mx-auto">
                            <div class="col-4">
                                <label class="form-control-label"> Conferma password: </label>
                            </div>
                                
                            <div class="col-8">
                                <input type="text" class="form-control" name="confirm" value="" />
                            </div>
                        </div>

                        <div class="row form-group mx-auto">
                            <div class="col-4">
                                <label class="form-control-label"> Data di nascita: </label>
                            </div>
                                
                            <div class="col-8">
                                <input type="text" class="form-control date" name="birthday" value="" />
                            </div>
                        </div>

                        <div class="row form-group mx-auto">
                            <div class="col-4">
                                <label class="form-control-label"> Luogo di nascita: </label>
                            </div>

                            <div class="col-8">
                                <input name="city" type="text" class="form-control" value="">
                            </div>
                        </div>

                        <div class="row form-group mx-auto">
                            <div class="col-4">
                                <label class="form-control-label"></label>
                            </div>

                            <div class="col-8">
                                <input name="country" type="text" class="form-control" value="">
                            </div>
                        </div>

                        <div class="row form-group mx-auto">
                            <div class="col-4">
                                <label class="form-control-label"> Ruolo aziendale: </label>
                            </div>

                            <div class="col-8">
                                <select class="form-control" name="id_title"> 
                                    {% for t in titles %}
                                        <option value="{{ t.id_title }}" class="opt-type"> 
                                            {{ t.name|capitalize }} 
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>      
                        </div> 
    
                        <div class="row form-group mx-auto">
                             <div class="col-3 mx-auto">
                                <select class="form-control" name="id_gender"> 
                                    <option value="" class="opt-type">
                                        Genere
                                    </option>

                                    {% for g in gender %}
                                        <option value="{{ g.id_gender }}" class="opt-type"> 
                                            {{ g.name|capitalize }} - {{ g.abbr|upper}}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>      
                            
                            <div class="col-3 mx-auto">
                                <select class="form-control" name="id_role">   
                                    <option value="" class="opt-type">
                                        Accesso
                                    </option> 

                                    {% for r in roles %}
                                        <option value="{{ r.id_role }}" class="opt-type"> 
                                            {{ r.name|capitalize }} 
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>      
                        </div> 
           
                        <div class="card-footer">
                            <button type="button" class="btn btn-default modal-cancel" data-bs-dismiss="modal">
                                <span class="bi bi-x-circle">
                                    CHIUDI 
                                </span>    
                            </button>
                                                
                            <button type="submit" class="btn btn-default modal-save createUser" name="create_user">
                                <span class="bi bi-check-circle">
                                    SALVA
                                </span>   
                            </button>
                        </div>


                    </form>
                   
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function(){
//  ===> DATEPICKER     
    //use datepicker on the date inputs
    $(".date").datepicker({
        format: 'dd-mm-yyyy',
        autoclose: true,
        language: 'it-IT', 
    });
//  ===> END DATEPICKER 

//  ===> SAVE BUTTON ON EDIT/DELETE MODAL   
    $(".createUser").on('click', function(){ 
        $.ajax({
            method: 'POST',
            url: 'admin/user.php',
            data: $("#member-form").serialize(),
                success: function(data){
                    console.log(data);
                }
        })
    });  
//  ===> END SAVE BUTTON ON EDIT/DELETE MODAL
});
</script>
