{% extends 'layout.html' %}
{% block title %} Utenti {{ 'now'|date('Y') }} {% endblock %}

{% block content %} 
<section class="grid-container mt-1 mb-0 positions">
    <div class="submenu align-items-center my-auto mx-auto p-2">
        <div class="grid-item mx-auto my-1 p-1 justify-content-center">
            <a href="{{ doc_root }}admin/users">
                <h3 class="m-0 p-4 submenu-title"> 
                    Utenti
                </h3>
            </a>
            
            <div class="breadcrumb-holder justify-content-center mx-auto p-2 my-auto" aria-label="breadcrumb">
                <ul class="rounded-breadcrumbs mx-auto my-auto p-1 justify-content-center">
                    <li>
                        <a class="breadcrumb-link my-auto" aria-current="page" style="width: 10.9rem; font-size: 0.3rem; text-align: center"
                            href="{{ doc_root }}admin/register">
                                REGISTRAZIONE 
                        </a>
                    </li>

                    <li>
                        <a class="breadcrumb-link my-auto" aria-current="page" style="width: 10.9rem; font-size: 0.3rem; text-align: center"
                            href="{{ doc_root }}admin/titles">
                                RUOLI AZIENDALI
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row my-auto mx-2">
        <div class="title-card m-auto">        
            <div class="title p-1 m-auto" id="title">
                <form id="title-form" action="{{ doc_root }}admin/title/{{ title.id_title }}" method="POST">
                    <div class="row m-auto p-0">
                        <div class="col-auto mb-2 mx-auto title-info">    
                            <div class="row mb-2 mt-3 mx-auto p-0">
                                <label for="name" class="col col-form-label mx-0"> Ruolo aziendale </label>
                                    <div class="col m-auto">
                                        <input name="name" type="text" class="form-control" value="{{ title.name }}"/>
                                    </div>
                            </div>
                            
                            <div class="row mb-2 mt-2 mx-auto p-0">
                                <label for="title" class="col col-form-label mx-0"> Titolo </label>
                                    <div class="col m-auto">
                                        <input name="title" type="name" class="form-control" value="{{ title.title }}"/>
                                    </div>
                            </div>
                                    
                            <div class="row mb-2 mt-2 mx-auto p-0">
                                <label for="acronym" class="col col-form-label mx-0"> Acronimo </label>
                                    <div class="col m-auto">
                                        <input name="acronym" type="text" class="form-control" value="{{ title.acronym }}"/>
                                    </div>
                            </div>
                    
                            <button type="button" class="reset action-button mb-2 mt-3 mx-auto" id="reset">
                                <a href="{{ doc_root }}admin/titles" style="color: white"> Esci </a>
                            </button> 
                            &nbsp;&nbsp;
                            <button type="submit" name="submit" id="submit" class="submit action-button mt-3 mb-2 mx-auto"> Salva </button>                         
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}