{% extends 'layout.html' %}
{% block title %} Utenti {{ 'now'|date('Y') }} {% endblock %}

{% block content %} 
    {{ include('admin/users-navigation.html') }}

    <section class="d-flex justify-content-center mx-auto my-1 new-title">
        <form id="title-form" action="{{ doc_root }}admin/title/{{ title.id_title }}" method="POST">

            <div class="col-8 mx-auto pt-0 mt-1 title-card">    
                <div class="row mx-auto">
                    <h2 class="mt-4 mb-3 mx-auto"> 
                        <i class="bi bi-person-workspace m-2"></i> 
                            <span class="my-auto">
                                CREA RUOLO AZIENDALE
                            </span>
                        <i class="bi bi-person-workspace m-2"></i> 
                    </h2>

                    <h4 class="pt-0 mt-0"> 
                        Inserire i dati richiesti per creare il nuovo ruolo aziendale. 
                    </h4>
                </div>
                
                <div class="form-group row mx-2 mb-2 mt-4">
                    <div class="row my-1">
                        <label for="name" class="col-4 col-form-label my-auto"> Ruolo aziendale </label>
                            <div class="col-7 mx-auto">
                                <input name="name" type="text" class="form-control" value="{{ title.name }}">
                            </div>
                    </div>

                    <div class="row my-1">
                        <label for="title" class="col-4 col-form-label my-auto"> Titolo </label>
                            <div class="col-7 mx-auto">
                                <input name="title" type="text" class="form-control" value="{{ title.title }}">
                            </div>
                    </div>

                    <div class="row my-1">
                        <label for="acronym" class="col-4 col-form-label my-auto"> Acronimo </label>
                            <div class="col-7 mx-auto">
                                <input name="acronym" type="text" class="form-control" value="{{ title.acronym }}">
                            </div>
                    </div>
                </div>

                <a href="{{ doc_root }}admin/titles">
                    <button type="button" class="my-4 mx-auto action-button previous"> 
                        Esci 
                    </button>
                </a>
                    &nbsp;      
                <button type="submit" class="my-4 mx-auto action-button submit" name="submit_title"> Salva </button>                          
            </div>

        </form>
    </section>
{% endblock %}