<div class="modal fade" id="newTitle" tabindex="-1" role="dialog" aria-labelledby="new-title" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header row">
                <h2 class="modal-title mx-auto my-auto" id="new-title"> 
                    <i class="bi bi-person-workspace my-auto mx-1"></i> 
                        CREA NUOVO
                    <i class="bi bi-person-workspace my-auto mx-1"></i> 
                </h2>

                    <h4 class="modal-subtitle mx-auto my-2"> 
                        Inserire i dati richiesti per creare il nuovo ruolo aziendale. 
                    </h4>
            </div>

            <div class="modal-body m-3">
                <div class="container-fluid col-12">
                    
                    <form id="title-form" action="{{ doc_root }}admin/title" method="POST" autocomplete="off">
                        <div class="row form-group mx-auto">
                                <!-- name error number -->
                                <div class="col my-auto err-circle" id="numN">
                                    <span class="alert my-1 err-circle-span" role="alert"></span>
                                </div>
                                <!-- end -->

                            <div class="col-4 my-auto" style="padding-left: 0; margin-left: 0">
                                <label for="name" class="form-control-label my-auto"> Ruolo aziendale: </label>
                            </div>
                            
                            <div class="col-7 my-auto mx-2">
                                <input name="name" id="name" type="text" class="form-control" />
                            </div>   
                        </div>

                        <div class="row form-group mx-auto">
                                <!-- title error number -->
                                <div class="col my-auto err-circle" id="numT">
                                    <span class="alert my-1 err-circle-span" role="alert"></span>
                                </div>
                                <!-- end -->

                            <div class="col-4 my-auto" style="padding-left: 0; margin-left: 0">
                                <label for="title" class="form-control-label my-auto"> Title: </label>
                            </div>
                            
                            <div class="col-7 my-auto mx-2"> 
                                <input name="title" id="title" type="text" class="form-control" />
                            </div>
                        </div>

                        <div class="row form-group mx-auto mb-4">
                                <!-- acronym error number -->
                                <div class="col my-auto err-circle" id="numA">
                                    <span class="alert my-1 err-circle-span" role="alert"></span>
                                </div>
                                <!--  end  -->

                            <div class="col-4 my-auto" style="padding-left: 0; margin-left: 0">
                                <label for="acronym" class="form-control-label my-auto"> Acronimo: </label>
                            </div>
                            
                            <div class="col-7 my-auto mx-2">
                                <input name="acronym" id="acronym" type="text" class="form-control" />
                            </div>
                        </div>

                            <!-- error/success messages -->
                            <div class="col-12 mx-auto my-1 alert message-box" id="alert">
                                <span class="err errName"></span>
                                <span class="err errTitle"></span>
                                <span class="err errAcronym"></span>
                                <span class="success"></span>
                            </div>
                            <!-- end -->

                        <div class="modal-footer my-3">
                            <button type="button" class="btn btn-default modal-cancel exit" data-bs-dismiss="modal">
                                <span class="bi bi-x-circle">
                                    CHIUDI 
                                </span>    
                            </button>
                            
                            <button type="submit" class="btn btn-default modal-save" name="submit">
                                <span class="bi bi-check-circle">
                                    SALVA
                                </span>   
                            </button>
                        </div>       
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

{% block jsScript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
//  ===> FORM VALIDATION AND SUBMIT 
    $('#title-form').on('submit', function(e){
        e.preventDefault();     //prevent form submission
        var post_url = $(this).attr("action");
        var form_data = $(this).serialize();

            $.ajax({
                type: 'POST',
                url: post_url,
                data: form_data,
                dataType: 'json',
                
                success: function(response){
                    $(".exit").on('click', function(){
                        $("#title-form")[0].reset();
                        $(".err-circle").html('');
                        $(".message-box").css("display", "none");
                            
                        parent.location.reload();
                    })

                    if(response.status == 1){
                        $("#title-form")[0].reset();                                                                //reset form input data
                        $(".err").html('');                                             //set error messages to empty

                        //$(".err-circle").html('<span class="alert alert-success my-1" role="alert"></span>');       //add span element to div.err-circle
                        $(".err-circle span.alert").addClass('alert-success').html('<i class="bi bi-check-lg"></i>')
                                               .css({
                                                    'font-size' : '1rem',
                                                    'border-radius' : '50%',
                                                    'padding' : '0.5rem',
                                                    'height' : '3rem',
                                                    'width' : '3rem',
                                                    'line-height' : '2rem',
                                                    'float' : 'right'
                        }).fadeIn(1500).fadeOut(2500);                                                              //add check icon into span element
                                                                    
                        $(".message-box").removeClass('alert-danger').addClass('alert-success').css({
                            'display' : 'block'
                        }).fadeIn(1500);                                                                            //change div#alert status design
                        $(".success").text(response.message).css('font-size', '1.4rem');                            //insert success message
                    } else{
                        $(".success").html('');
                        /*$(".err-circle").css({
                            'margin-right' : '0.1rem',
                            'padding' : 0
                        });*/
                        $(".message-box").removeClass('alert-success').addClass('alert-danger').css({
                            'display' : 'block'
                        }).fadeIn(1500);

                            if(response.errName){
                                $("#numN span.alert").attr('id', 'err1').addClass('alert-danger')/*.html('<span class="alert alert-danger my-1" role="alert" id="err1"></span>')*/;
                                $("#err1").css({
                                    'font-size' : '1rem',
                                    'border-radius' : '50%',
                                    'padding' : '0.5rem',
                                    'height' : '3rem',
                                    'width' : '3rem',
                                    'line-height' : '2rem',
                                    'float' : 'right'
                                });
                                $("#err1").html('<b>* ' + response.numN + '</b>  ');
                                $(".errName").html('<b>* '+ response.numN + ':</b> ' + response.errName + ' <br>').css('font-size', '1.4rem');
                            } else{
                                $("#numN").html('<span class="alert alert-success my-1" role="alert" id="err1"></span>');
                                $("#err1").css({
                                    'font-size' : '1rem',
                                    'border-radius' : '50%',
                                    'padding' : '0.5rem',
                                    'height' : '3rem',
                                    'width' : '3rem',
                                    'line-height' : '2rem',
                                    'float' : 'right'
                                });
                                $("#err1").html('<i class="bi bi-check-lg"></i>').css("font-size", "1.4rem");
                                $(".errName").html('');
                            } 

                            if(response.errTitle){
                                $("#numT").html('<span class="alert alert-danger my-1" role="alert" id="err2"></span>');
                                $("#err2").css({
                                    'font-size' : '1rem',
                                    'border-radius' : '50%',
                                    'padding' : '0.5rem',
                                    'height' : '3rem',
                                    'width' : '3rem',
                                    'line-height' : '2rem',
                                    'float' : 'right'
                                });
                                $("#err2").html('<b>* ' + response.numT + '</b>  ');
                                $(".errTitle").html('<b>* '+ response.numT + ':</b> ' + response.errTitle + ' <br>').css("font-size", "1.4rem");
                            } else{
                                $("#numT").html('<span class="alert alert-success my-1" role="alert" id="err2"></span>');
                                $("#err2").css({
                                    'font-size' : '1rem',
                                    'border-radius' : '50%',
                                    'padding' : '0.5rem',
                                    'height' : '3rem',
                                    'width' : '3rem',
                                    'line-height' : '2rem',
                                    'float' : 'right'
                                });
                                $("#err2").html('<i class="bi bi-check-lg"></i>').css("font-size", "1.4rem");
                                $(".errTitle").html('');
                            } 

                            if(response.errAcronym){
                                $("#numA").html('<span class="alert alert-danger my-1" role="alert" id="err3"></span>');
                                $("#err3").css({
                                    'font-size' : '1rem',
                                    'border-radius' : '50%',
                                    'padding' : '0.5rem',
                                    'height' : '3rem',
                                    'width' : '3rem',
                                    'line-height' : '2rem',
                                    'float' : 'right'
                                });
                                $("#err3").html('<b>* ' + response.numA + '</b>  ');
                                $(".errAcronym").html('<b>* '+ response.numA + ':</b> ' + response.errAcronym).css("font-size", "1.4rem");
                            } else{
                                $("#numA").html('<span class="alert alert-success my-1" role="alert" id="err3"></span>');
                                $("#err3").css({
                                    'font-size' : '1rem',
                                    'border-radius' : '50%',
                                    'padding' : '0.5rem',
                                    'height' : '3rem',
                                    'width' : '3rem',
                                    'line-height' : '2rem',
                                    'float' : 'right'
                                });
                                $("#err3").html('<i class="bi bi-check-lg"></i>').css("font-size", "1.4rem");
                                $(".errAcronym").html('');
                            } 

                            //$("#title-form")[0].reset();
                    }
                    console.log(response);
                }
            })
    });
//  ===> END FORM VALIDATION AND SUBMIT
});
</script>
{% endblock %}
