<div class="modal fade" id="newTitle" tabindex="-1" role="dialog" aria-labelledby="new-title" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header row">
                <h2 class="modal-title mx-auto my-auto" id="new-title"> 
                    <i class="bi bi-person-workspace my-auto mx-1"></i> 
                        CREA NUOVO
                    <i class="bi bi-person-workspace my-auto mx-1"></i> 
                </h2>

                    <h4 class="modal-subtitle mx-auto my-2"> 
                        Inserire i dati richiesti per creare il nuovo ruolo aziendale. 
                    </h4>
            </div>

            <div class="modal-body m-3">
                <div class="container-fluid">
                    
                    <form id="title-form" action="{{ doc_root }}admin/title" method="POST" class="needs-validation">
                        <div class="row form-group mx-auto">
                            <div class="col-1 my-auto">
                                {% if errors.name %} 
                                    <span class="alert alert-danger my-1 circle" role="alert">
                                        * I
                                    </span>
                                {% endif %}
                            </div>

                            <div class="col-4 my-auto">
                                <label for="name" class="form-control-label my-auto"> Ruolo aziendale: </label>
                            </div>
                            
                            <div class="col-7 my-auto">
                                <input name="name" id="name" type="text" class="form-control" value="" />
                            </div>     
                        </div>

                        <div class="row form-group mx-auto">
                            <div class="col-1 my-auto">
                                {% if errors.title %} 
                                    <span class="alert alert-danger my-1 circle" role="alert">
                                        * II
                                    </span>
                                {% endif %}
                            </div>

                            <div class="col-4 my-auto">
                                <label for="title" class="form-control-label my-auto"> Titolo: </label>
                            </div>
                            
                            <div class="col-7 my-auto"> 
                                <input name="title" id="title" type="text" class="form-control" value="" />
                            </div>
                        </div>

                        <div class="row form-group mx-auto mb-4">
                            <div class="col-1 my-auto">
                                {% if errors.acronym %} 
                                    <span class="alert alert-danger my-1 circle" role="alert">
                                        * III
                                    </span>
                                {% endif %}
                            </div>

                            <div class="col-4 my-auto">
                                <label for="acronym" class="form-control-label my-auto"> Acronimo: </label>
                            </div>
                            
                            <div class="col-7 my-auto">
                                <input name="acronym" id="acronym" type="text" class="form-control" value="" />
                            </div>

                            <div class="col-12" style="height: 5rem">
                                {% if errors %}
                                    <div class="col-11 alert alert-danger mx-auto my-2 error" role="alert">
                                        <span class="errors">
                                            {% if errors.name %}
                                                <b>*I:</b> {{ errors.name }} &nbsp;
                                            {% endif %}
        
                                            {% if errors.title %}
                                                <b>*II:</b> {{ errors.title }} &nbsp;
                                            {% endif %}
        
                                            {% if errors.acronym %}
                                                <b>*III:</b> {{ errors.acronym }} &nbsp;
                                            {% endif %}
                                        </span>
                                    </div>
                                {% endif %}

                                {% if errors.success %}
                                    <div class="col-11 alert alert-success mx-auto my-2 error" role="alert">
                                        <span class="success">
                                            {{ errors.success }}
                                        </span>
                                    </div>
                                {% endif %}
                                </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default modal-cancel" data-bs-dismiss="modal">
                                <span class="bi bi-x-circle">
                                    CHIUDI 
                                </span>    
                            </button>
                            
                            <button type="submit" class="btn btn-default modal-save createTitle" name="submit">
                                <span class="bi bi-check-circle">
                                    SALVA
                                </span>   
                            </button>
                        </div>       
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function(){
//  ===> SAVE BUTTON ON EDIT/DELETE MODAL  
    $('#title-form').on('submit', function(e){
        e.preventDefault();     //prevent form submission

        var post_url = $(this).attr("action");
        var request_method = $(this).attr("method");
        var form_data = $(this).serialize();
        var div = '<div class="col-11 alert alert-danger mx-auto my-2 error" role="alert"></div>';
        var span = '<span class="errors"></span>';

            //perform ajax request
            $.ajax({
                type: request_method,
                url: post_url,
                data: form_data
            }).done(function(response){
                if(!response.success) {
                    //dont close the modal, display the error
                    $('#view-errors').html('{% if error.name %}<div class="text-danger">{{ error_postcode }}</div>{% endif %}');
            }
            else {
                $('#addAddressModal').modal('hide'); 
                $('#address').load('index.php?route=customer/customer/getaddresslist&user_token={{ user_token }}&customer_id={{ customer_id }}');
            }
            }
                dataType: 'json',
                success: function(response){
                    var res = jQuery.parseJSON(response);

                        if(res.success == false){
                            //form validation failed, display errors
                            viewErrors.append(div).append(span);

                                if(res.errors.name){
                                    span.append('<b>' + res.name + '</b>' + res.errors.name + '&nbsp;');
                                }

                                if(res.errors.title){
                                    span.append('<b>' + res.title + '</b>').text(res.errors.title).append('&nbsp;');
                                }

                                if(response.errors.acronym){
                                    span.append('<b>' + res.acronym + '</b>' + res.errors.acronym + '&nbsp;');
                                }
                        } else{
                            //form validation passed, do something
                            viewErrors.append(div).append(span).text(res.errors.message);
                        
                    }
                }
            })
    });
    /*$(".createTitle").on('click', function(){ 
        $.ajax({
            method: 'POST',
            url: 'admin/title.php',
            data: $("#title-form").serialize(),
                success: function(data){
                    console.log(data);
                }
        })
    });  */


//  ===> END SAVE BUTTON ON EDIT/DELETE MODAL

//  ===> PREVENT SUBMIT AND DISPLAY ERRORS
// Example starter JavaScript for disabling form submissions if there are invalid fields
/*(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()*/
//  ===> END PREVENT SUBMIT AND DISPLAY ERRORS
});
</script>
