{% extends 'layout.html' %}
{% block title %} Piattaforma {{ 'now'|date('Y') }} {% endblock %}
 
{% block content %} 
    {{ include('transports-navigation.html') }}

    <!--    =====>    PARTIAL TRANSPORTS TABLE    <=====    -->
    <section class="col-12 mx-auto my-1">
        <div class="panel panel-body">
            <div class="d-flex justify-content-center">
                <table class="table table-sm platform">
                    <thead>
                        <tr class="border-bottom border-top border-light table-title">
                            <th class="align-middle p-3"> # </th>
                            <th class="align-middle p-2"> Slot ID </th>
                            <th class="align-middle p-2"> Numero CMR </th>
                            <th class="align-middle p-2"> Emittente </th>
                            <th class="align-middle p-2"> Fornitore </th>
                            <th class="align-middle p-2"> Trasporto </th>
                            <th class="align-middle p-2"> Univoco </th>
                            <th class="align-middle p-2"> Data carico </th>
                            <th class="align-middle p-2"> Data scarico </th>
                            <th class="align-middle p-2"> Mese carico </th>
                            <th class="align-middle p-2"> Settimana scarico </th>
                            <th class="align-middle p-2" colspan="2"> Mese scarico </th>
                            <th class="align-middle p-2"> Container<br>ATB </th>
                            <th class="align-middle p-3"> <i class="bi bi-gear"></i> </th>
                        </tr>
                    </thead>

                    <tbody class="table-body">  
                    {% set order = 1 %}
                    {% for i, t in transports %}
                    
                        <!--    ===>    Partial Transport Data    <===    -->
                        <tr class="trans-data" id="part-{{ i }}">
                            <td scope="row" data-bs-toggle="collapse" data-bs-target="#qty-{{ t.id_transport }}" class="accordion-toggle align-middle expand">
                                {{ order }}
                                {% set order = order + 1 %}
                                    <br>  
                                <i class="bi bi-arrow-right-circle"></i>
                            </td>
                            <td class="align-middle p-1" style="word-break: break-all; text-wrap: balance"> {{ t.slot|upper }} </td>  
                            <td class="align-middle p-1" style="word-break: break-all; text-wrap: balance"> {{ t.cmr|upper }} </td>
                            <td class="align-middle p-1"> {{ t.issuer|upper }} </td>
                            <td class="align-middle p-1"> {{ t.supplier|upper }} </td>
                            <td class="align-middle p-1"> {{ t.transport|upper }} </td>
                            <td class="align-middle p-1 px-3"> {{ t.univoco|upper }} </td>
                            <td class="align-middle p-1"> {{ t.date_load|date("d/m/Y") }} </td>
                            <td class="align-middle p-1"> {{ t.date_unload|date("d/m/Y") }} </td>
                            <td class="align-middle p-1"> {{ t.id_month_load }} </td>
                            <td class="align-middle p-1"> {{ t.week_unload }} </td>
                            <td class="align-middle p-1" colspan="2"> {{ t.id_month_unload }} - {{ t.month_unload }} </td>
                            <td class="align-middle p-1" style="text-wrap: balance"> {{ t.container|upper }} </td>
                                    
                            <td class="align-middle m-auto btns">    
                                {% if (user.role == 'admin') or (user.id_user == t.id_user) %}    
                                    <button type="button" class="edit-data" data-bs-toggle="modal" data-bs-target="#editTrans-{{ t.id_transport }}"
                                        data-id="{{ t.id_transport }}">
                                            <i class="bi bi-pencil-square"></i> 
                                    </button>
                                {% else %}
                                    <button type="button" class="edit-data" disabled>
                                        <i class="bi bi-x-octagon"></i>
                                    </button>
                                {% endif %}
                                
                                {% if (user.role == 'admin') %}
                                    <button type="button" class="delete-data" data-bs-toggle="modal" data-bs-target="#delete-{{ t.id_transport }}"
                                        data-id="{{ t.id_transport }}">
                                            <i class="bi bi-trash"></i> 
                                    </button>  
                                {% endif %}
                            </td>
                        </tr>                
                        <!--    ===>    End Partial Transport Data    <===    -->
                            
                        <!--    ===>    Quantity Collapse For Partial Transport Data    <===    -->
                        <tr class="accordion-toggle" id="qty-{{ i }}">        
                            <td colspan="16">
                                <div class="accordian-body collapse rowQty" id="qty-{{ t.id_transport }}"> 
                                    <h4 class="mx-auto my-2"> 
                                        {% if (user.role == 'admin') or (user.id_user == t.id_user) %}
                                            <button type="button" class="btn my-auto edit-data" data-bs-toggle="modal" data-bs-target="#editQty-{{ t.id_transport }}"
                                                data-id="{{ t.id_transport }}">
                                                    <i class="bi bi-pencil-square mx-1"></i>  
                                                    <span class="collapse-title">
                                                        Quantità:
                                                    </span>   
                                            </button> 
                                        {% else %}
                                            <span class="btn my-auto collapse-title edit-data">
                                                Quantità:
                                            </span>
                                        {% endif %}
                                    </h4>

                                    <table class="table table-bordered table-sm my-2">
                                        <tbody>    
                                            <tr>
                                                <th class="sub-title align-middle p-1"> Energia caricata [MWh] </th>
                                                    <td class="bg-light bg-gradient align-middle edit_input"> 
                                                        {{ t.mwh }} 
                                                    </td>   
                                                <th class="sub-title align-middle p-1"> Quantità nominale caricata [kg] </th>
                                                    <td class="bg-light bg-gradient align-middle edit_input"> 
                                                        {{ t.kg_load }} 
                                                    </td>   
                                                <th class="sub-title align-middle p-1"> Raffreddamento </th>            
                                                    <td class="bg-light bg-gradient align-middle edit_input"> 
                                                        {% if (t.cooling == 600) %}
                                                            600
                                                        {% else %}
                                                            No
                                                        {% endif %} 
                                                    </td>
                                                <th class="sub-title align-middle p-1"> Tipologia costo extra </th>            
                                                    <td class="bg-light bg-gradient align-middle"> 
                                                        {% if t.price_typology == 'S' %}
                                                            Sì
                                                        {% else %}
                                                            No
                                                        {% endif %} 
                                                    </td>  
                                                <th class="sub-title align-middle p-1"> Accisa <big>[</big>Sm<sup>3</sup><big>]</big> </th>
                                                    <td class="bg-light bg-gradient align-middle">  

                                                    </td>        
                                            </tr>
                                                        
                                            <tr>
                                                <th class="sub-title align-middle p-1"> Valore costo extra </th>
                                                    <td class="bg-light bg-gradient align-middle edit_input"> 
                                                        {{ t.price_value }} 
                                                    </td>
                                                <th class="sub-title align-middle p-1"> Quantità scaricata PD [kg] </th>
                                                    <td class="bg-light bg-gradient align-middle edit_input"> 
                                                        {{ t.kg_unload }} 
                                                    </td>
                                                <th class="sub-title align-middle p-1"> Densità (liquido) [<sup>kg</sup>&frasl;<sub>m<sup>3</sup></sub>] </th>
                                                    <td class="bg-light bg-gradient align-middle edit_input"> 
                                                        {{ t.liquid_density }} 
                                                    </td>
                                                <th class="sub-title align-middle p-1"> Peso specifico (gas) <big>[</big><sup>kg</sup>&frasl;<sub>Nm<sup>3</sup></sub><big>]</big> </th>
                                                    <td class="bg-light bg-gradient align-middle edit_input"> 
                                                        {{ t.gas_weight }} 
                                                    </td>
                                                <th class="sub-title align-middle p-1"> Accisa totale </th>
                                                    <td class="bg-light bg-gradient align-middle">  

                                                    </td>
                                            </tr>
                                                    
                                            <tr>
                                                <th class="sub-title align-middle p-1"> PCS/GHV <big>[</big><sup>MJ</sup>&frasl;<sub>kg</sub><big>]</big> </th>
                                                    <td class="bg-light bg-gradient align-middle"> 
                                                        {{ t.mj_kg }} 
                                                    </td>
                                                <th class="sub-title align-middle p-1"> PCS/GHV <big>[</big><sup>kWh</sup>&frasl;<sub>kg</sub><big>]</big> </th>
                                                    <td class="bg-light bg-gradient align-middle edit_input"> 
                                                        {{ t.pcs_ghv }} 
                                                    </td>
                                                <th class="sub-title align-middle p-1"> Volume scaricato (liquido) <big>[</big>m<sup>3</sup><big>]</big> </th>
                                                    <td class="bg-light bg-gradient align-middle"> 
                                                        {{ t.volume_mc }} 
                                                    </td>
                                                <th class="sub-title align-middle p-1"> Volume sviluppato <big>[</big><sup>Nm<sup>3</sup></sup>&frasl;<sub>m<sup>3</sup></sub><big>]</big> </th>
                                                    <td class="bg-light bg-gradient align-middle"> 
                                                        {{ t.volume_nmc }} 
                                                    </td> 
                                                <th class="sub-title align-middle p-1"> Incidenza </th> 
                                                    <td class="bg-light bg-gradient align-middle">  

                                                    </td> 
                                            </tr>
                                                    
                                            <tr>
                                                <th class="sub-title align-middle p-1"> <sup>Sm<sup>3</sup></sup>&frasl;&nbsp;<sub>m<sup>3</sup></sub> </th>
                                                    <td class="bg-light bg-gradient align-middle"> 
                                                        {{ t.smc_mc }} 
                                                    </td>   
                                                <th class="sub-title align-middle p-1"> Gas sviluppato <big>[</big>Nm<sup>3</sup><big>]</big> </th>
                                                    <td class="bg-light bg-gradient align-middle"> 
                                                        {{ t.gas_nmc }} 
                                                    </td>   
                                                <th class="sub-title align-middle p-1"> Gas sviluppato <big>[</big>Sm<sup>3</sup></sup><big>]</big> </th>
                                                    <td class="bg-light bg-gradient align-middle"> 
                                                        {{ t.gas_smc}} 
                                                    </td>   
                                                <th class="sub-title align-middle p-1"> <sup>Sm<sup>3</sup></sup>&frasl;&nbsp;<sub>kg</sub> </th>
                                                    <td class="bg-light bg-gradient align-middle"> 
                                                        {{ t.smc_kg }} 
                                                    </td> 
                                                <th class="sub-title align-middle p-1"> </th> 
                                                    <td class="bg-light bg-gradient align-middle"> 

                                                    </td>           
                                            </tr>
                                        </tbody>
                                    </table>
                                </div> 
                            </td> 
                        </tr>
                        <!--    ===>    End Quantity Collapse For Partial Transport Data    <===    -->
                                
                        <!--    ===>    Partials Unload Collapse    <===    -->    
                        <td colspan="16" style="background: rgba(61, 150, 130, 0.5)">
                            <div class="accordian-body collapse rowQty" id="qty-{{ t.id_transport }}">
                                <h4 class="mx-auto my-2"> 
                                    <span class="btn my-auto collapse-title edit-data">
                                        Scarichi parziali:
                                    </span>
                                </h4>
                                            
                                <table class="table table-bordered table-sm my-2">
                                    <thead>
                                        <tr class="border-bottom border-top border-light table-title">
                                            <th class="align-middle p-2"> # </th>
                                            <th class="align-middle p-1"> Destinazione </th>
                                            <th class="align-middle p-1"> EXW </th>
                                            <th class="align-middle p-1"> Data </th>
                                            <th class="align-middle p-1"> Luogo </th>
                                            <th class="align-middle p-1"> Quantita scaricata </th>
                                            <th class="align-middle p-1"> Fattura </th>
                                            <th class="align-middle p-2"> <i class="bi bi-gear"></i> </th>
                                        </tr>
                                    </thead>
                                                     
                                    <tbody class="table-body">
                                    {% set num = 1 %}
                                    {% for p in partials|filter(p => (p.id_transport == t.id_transport)) %}
                                
                                        <tr class="bg-light bg-gradient">
                                            <td scope="row" class="align-middle p-1"> 
                                                {{ num }}
                                                {% set num = num + 1 %} 
                                            </td>         
                                            <td class="align-middle p-1" id="dest"> {{ p.destination|upper }} </td>                                   
                                            <td class="align-middle p-1" id="exw"> {{ p.exw|upper }} </td>  
                                            <td class="align-middle p-1" id="dateP"> {{ p.date|date('d-m-Y') }} </td>                   
                                            <td class="align-middle p-1" id="place"> {{ p.place|capitalize }} </td>
                                            <td class="align-middle p-1" id="qty"> {{ p.q_unloaded }} </td>
                                            <td class="align-middle p-1" id="invoice"> {{ p.invoice }} </td>

                                            <td class="align-middle m-auto btns"> 
                                                {% if (user.role == 'admin') or (user.id_user == t.id_user) %}
                                                    <button type="button" class="btn edit-data edit-part" data-bs-toggle="modal" data-bs-target="#editPart-{{ p.id_partial }}" 
                                                        data-id="{{ p.id_partial }}">
                                                            <i class="bi bi-pencil-square"></i>
                                                    </button> 
                                                {% else %}
                                                    <button type="button" class="btn edit-data delete-data" disabled>
                                                        <i class="bi bi-x-octagon"></i>
                                                    </button>
                                                {% endif %}
                                                
                                                {% if (user.role == 'admin') %}
                                                    <button type="button" class="btn edit-data delete-data" data-bs-toggle="modal" data-bs-target="#deletePart-{{ p.id_partial }}"
                                                        data-key="{{ p.id_partial }}">
                                                            <i class="bi bi-trash"></i> 
                                                    </button>     
                                                {% endif %}                        
                                            </td> 
                                        </tr>  

                                        {% if (user.role == 'admin') or (user.id_user == t.id_user) %}
                                            {{ include("partial-edit.html") }}
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                                
                                <div class="container-fluid my-2">
                                    <div class="note-container">
                                        <h4 class="mx-auto my-2"> 
                                            <button type="button" class="btn my-auto edit-data" data-bs-toggle="modal" data-bs-target="#editNote-{{ t.id_transport }}"
                                                data-id="{{ t.id_transport }}">   
                                                    <i class="bi bi-pencil-square mx-1"></i> 
                                                    <span class="collapse-title">
                                                        Nota:
                                                    </span>   
                                            </button> 
                                        </h4>

                                        <div class="container-fluid my-0">
                                            <p>
                                            {% if t.note is empty %}
                                                Nessuna nota 
                                            {% else %}
                                                {{ t.note|capitalize }}
                                            {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </td> 
                        <!--    ===>    End Partials Unload Collapse    <===    -->
                            
                        <!--    ===>    Include Edit And Delete Files    <===    -->
                        {% if (user.role == 'admin') or (user.id_user == t.id_user) %}
                            {{ include("transport-edit.html") }}
                            {{ include("quantity-edit.html") }}
                            {{ include("partial-edit.html") }}
                            {{ include("transport-note.html") }}
                        {% else %}
                            {{ include("transport-note.html") }}
                        {% endif %}

                        {% if (user.role == 'admin') %}
                            {{ include("admin/transport-delete.html") }}
                        {% endif %}

                        <!--    ===>    End Include Edit And Delete Files    <===    -->
                    {% endfor %}
                    </tbody>
                        
                    <!--    ===>    Table Footer    <===    --> 
                    <tfoot>
                        <tr>
                            <td colspan="16" class="text-light align-middle mb-2 p-2">
                                <h5 class="align-middle my-auto">
                                    TOTALE <i class="bi bi-fuel-pump ms-1"></i>:
                                        <span> {{ total }} </span>
                                </h5> 
                            </td>
                        </tr>
                    </tfoot>
                    <!--    ===>    End Table Footer    <===    -->
                </table>
            </div> 
        </div>
    </section>  
    <!--    =====>    END PARTIAL TRANSPORTS TABLE    <=====    -->
{% endblock %}

{% block jsScript %}    
<!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">      <!-- Bootstrap 5 CSS -->
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/css/datepicker.min.css'>              <!-- Vanilla Datepicker CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/css/datepicker-bs5.min.css">          <!-- Vanilla Datepicker CSS -->
<script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/js/datepicker.min.js"></script>
    
<script>
$(document).ready(function(){
//  ===> TOOLTIP SPECS  
    $("body").tooltip({ 
        selector: '[data-toggle = tooltip]',
        placement: 'right' 
    });
//  ===> END TOOLTIP SPECS
        
//  ===> DATEPICKER     
    //use datepicker on the date inputs
    $(".date").datepicker({
        format: 'dd-mm-yyyy',
        autoclose: true,
        todayHighlight: true,
        language: 'it-IT', 
    });
//  ===> END DATEPICKER   

//  ===> TABLE ONCLICK FUNCTIONS
    //toggle class for changing bg-color and showing/hiding table td border 
    $(".trans-data").on('click', function(){
        $(this).toggleClass("active");
    });
    
    $(".expand").on('click', function(){
        $(this).find("i").toggleClass("bi-arrow-down-circle bi-arrow-right-circle");
        $(this).closest("tr").not("btns").toggleClass("table-bordered active");
    });
//  ===> END TABLE ONCLICK FUNCTIONS  

//  ===>    [ M O D A L ]    <===
//  ===> GET MODAL ID TO EDIT/DELETE TABLE DATA
    //edit transport
    $("#editTrans").on('show.bs.modal', function(e){            //triggered when modal is about to be shown
        //get data-id attribute of the clicked element
        var id = $(e.relatedTarget).data('id');
        $("#id_transport").val(id);
    });
    
    //delete transport
    $("#delete").on('show.bs.modal', function(e){
        var id = $(e.relatedTarget).data('id');
        $("#id_transport").val(id);
    });
    
    //edit quantity
    $("#editQty").on('show.bs.modal', function(e){
        var id = $(e.relatedTarget).data('id');
        $("#id_transport").val(id);
    });
    
    //edit note
    $("#editNote").on('show.bs.modal', function(e){
        var id = $(e.relatedTarget).data('id');
        $("#id_transport").val(id);
    });

    //edit partials
    $("#editPart").on('show.bs.modal', function(e){
        var id = $(e.relatedTarget).data('id');
        $("#id_partial").val(id);
    });
//  ===> END GET MODAL ID TO EDIT/DELETE TABLE DATA

//  ===> CANCEL BUTTON ON EDIT/DELETE MODAL   
    $(".modal-cancel").on('click', function(){
        $("div.modal").modal("hide");
    });
//  ===> END CANCEL BUTTON ON EDIT/DELETE MODAL
});  
</script>   
        
<!--    ===>    BOOTSTRAP DATEPICKER    <===    -->   
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js" integrity="sha512-LsnSViqQyaXpD4mBBdRYeP6sRwJiJveh2ZIbW41EBrNmKxgr/LFZIiWT6yr+nycvhvauz8c2nYMhrP80YhG7Cw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/locales/bootstrap-datepicker.it.min.js" charset="UTF-8"></script>
<!--    ===>    END BOOTSTRAP DATEPICKER    <===    --> 
{% endblock %}                                      