{% extends 'admin/layout.html' %}
{% block title %} Profilo - {{ session.username }} {% endblock %}

{% block content %}
<section class="section profile">
    <div class="row">
        <div class="col-lg-12 py-0 mx-auto">
            <div class="card info-card profile-card mb-3">
                <div class="card-body">
                    <h5 class="card-title text-primary p-0 mb-2 mt-0">
                        PROFILO
                    </h5>

                    {% if (session.id_user == user.id_user) %}
                    <div class="row mx-auto p-0">
                        <div class="col-7 mx-auto my-0 p-1 profile-body">
                            <div class="col align-middle mx-auto">
                                <i class="bi bi-person me-1"></i>
                                    <span class="text-dark"> 
                                        {{ user.member|upper }} 
                                    </span>
                            </div>

                            <div class="col align-middle mx-auto">
                                <i class="bi bi-envelope me-1"></i>
                                    {{ user.email }}
                            </div>

                            <div class="col align-middle mx-auto">
                                <i class="bi bi-info-square me-1"></i>
                                    {{ user.role|capitalize }}
                            </div>

                            <div class="col align-middle mx-auto">
                                <i class="bi bi-clock-history me-1"></i>
                                    {{ user.joined|date('d/m/Y', 'Europe/Rome') }}
                            </div>
                        </div>

                        <div class="col-4 m-auto" style="text-align: center">
                            <img src="{{ doc_root }}img/profile-avatar-light.jpg" alt="Profilo" class="rounded-circle mb-0">
                            <h4 class="card-title text-dark mb-1"> {{ user.username }} </h4>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-8">
        <div class="card">
            <!-- Bordered Tabs -->
            <div class="card-body pt-3">
                <ul class="nav nav-tabs nav-tabs-bordered">
                    <li class="nav-item">
                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">
                            Profilo
                        </button>
                    </li>

                    <li class="nav-item">
                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">
                            Modifica profilo
                        </button>
                    </li>

                    <li class="nav-item">
                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">
                            Cambia password
                        </button>
                    </li>
                </ul>
              
                <div class="tab-content pt-2">
                    <div class="tab-pane fade show active profile-overview" id="profile-overview">
                        <h5 class="card-title"> Dettagli </h5>

                        <div class="row">
                            <div class="col-lg-3 col-md-4 label "> Username </div>
                            <div class="col-lg-9 col-md-8"> {{ user.username }} </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-3 col-md-4 label"> Indirizzo e-mail </div>
                            <div class="col-lg-9 col-md-8"> {{ user.email }} </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-3 col-md-4 label"> Ruolo aziendale </div>
                            <div class="col-lg-9 col-md-8"> </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-3 col-md-4 label"> Ruolo </div>
                            <div class="col-lg-9 col-md-8"> {{ user.role }} </div>
                        </div>
                    </div>

                    <!-- Profile Edit Form -->
                    <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                        <form>
                            <div class="row mb-3">
                                <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">
                                    Profile Image
                                </label>
                                <div class="col-md-8 col-lg-9">
                                    <img src="assets/img/profile-img.jpg" alt="Profile">
                                    <div class="pt-2">
                                        <a href="#" class="btn btn-primary btn-sm" title="Upload new profile image">
                                            <i class="bi bi-upload"></i>
                                        </a>

                                        <a href="#" class="btn btn-danger btn-sm" title="Remove my profile image">
                                            <i class="bi bi-trash"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="fullName" class="col-md-4 col-lg-3 col-form-label">
                                    Nome
                                </label>
                                <div class="col-md-8 col-lg-9">
                                    <input name="name" type="text" class="form-control" value="{{ user.name }}">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="about" class="col-md-4 col-lg-3 col-form-label">
                                    Cognome
                                </label>
                                <div class="col-md-8 col-lg-9">
                                    <input name="surname" type="text" class="form-control" value="{{ user.surname }}">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="company" class="col-md-4 col-lg-3 col-form-label">
                                    Indirizzo e-mail
                                </label>
                                <div class="col-md-8 col-lg-9">
                                    <input name="email" type="text" class="form-control" value="{{ user.email }}">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="Job" class="col-md-4 col-lg-3 col-form-label">
                                    Username
                                </label>
                                <div class="col-md-8 col-lg-9">
                                    <input name="username" type="text" class="form-control" value="{{ user.username }}">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="form-control-label mb-0" for="role"> Localita </label>
                                    <select class="form-control" name="location" id="location">
                                        <option value="" class="opt-type"></option>
                                        <option value="1" class="opt-type"> Padova </option>
                                    </select>
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-primary"> Salva </button>
                            </div>
                        </form>   
                    </div>
                    <!-- End Profile Edit Form -->

                    <!-- Change Password Form -->
                    <div class="tab-pane fade pt-3" id="profile-change-password">
                        <form>
                            <div class="row mb-3">
                                <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">
                                    Password
                                </label>
                                <div class="col-md-8 col-lg-9">
                                    <input name="password" type="password" class="form-control">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="newpass" class="col-md-4 col-lg-3 col-form-label">
                                    Nuova password
                                </label>
                                <div class="col-md-8 col-lg-9">
                                    <input name="newpass" type="password" class="form-control">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="confirm" class="col-md-4 col-lg-3 col-form-label">
                                    Ripetere la password
                                </label>
                                <div class="col-md-8 col-lg-9">
                                    <input name="confirm" type="password" class="form-control" id="renewPassword">
                                </div>
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-primary"> Cambia password </button>
                            </div>
                        </form>
                    </div>
                    <!-- End Change Password Form -->
                </div>
                <!-- End Bordered Tabs -->
            </div>
        </div>
    </div>
</section>
{% endblock %}