{% extends 'layout.html' %}
{% block title %} Registrazione utenti {% endblock %}

{% block content %}
    {{ include('admin/users-navigation.html') }}

    <section class="col-9 mx-auto new-form">
        <div class="container-fluid mx-auto">
            <div class="card card-user">
                <div class="card-header row mx-auto pt-3">
                    <h2 class="form-title mx-auto my-2"> 
                        <i class="bi bi-people my-auto mx-1"></i>
                            REGISTRAZIONE
                        <i class="bi bi-people my-auto mx-1"></i>
                    </h2>
            
                        <h4 class="form-subtitle mx-auto my-2"> 
                            Inserire i dati richiesti per creare il nuovo utente.
                        </h4>
                </div>

                <form id="user-form" action="{{ doc_root }}admin/user" autocomplete="off">
                    <input type="hidden" name="id_user" id="id_user" value="" />

                    <div class="card-body row">
                        <div class="col mx-auto my-2">

                            <div class="row mx-auto my-2">
                                <!-- error['NAME'] number -->
                                <div class="col my-auto mx-0 px-0 err-circle" id="editName">
                                    <span class="alert my-1 err-circle-span" role="alert"></span>
                                </div>
                                <!--  end  -->
        
                                <div class="col-4 my-auto">
                                    <label class="form-control-label my-1"> Nome: </label>
                                </div>
                                
                                <div class="col-7 my-auto">
                                    <input name="name" type="text" class="form-control" value="" />
                                </div>
                            </div>

                            <div class="row mx-auto my-2">
                                <!-- error['SURNAME'] number -->
                                <div class="col my-auto mx-0 px-0 err-circle" id="editSurname">
                                    <span class="alert my-1 err-circle-span" role="alert"></span>
                                </div>
                                <!--  end  -->
        
                                <div class="col-4 my-auto">
                                    <label class="form-control-label my-auto"> Cognome: </label>
                                </div>
                            
                                <div class="col-7 my-auto">
                                    <input name="surname" type="text" class="form-control" value="" />
                                </div>
                            </div>
                            
                            <div class="row mx-auto my-2">
                                <!-- error['EMAIL'] number -->
                                <div class="col my-auto mx-0 px-0 err-circle" id="editEmail">
                                    <span class="alert my-1 err-circle-span" role="alert"></span>
                                </div>
                                <!--  end  -->
        
                                <div class="col-4 my-auto">
                                    <label class="form-control-label my-auto"> Indirizzo e-mail: </label>
                                </div>
                                
                                <div class="col-7 my-auto">
                                    <input type="text" class="form-control" name="email" value="" />
                                </div>
                            </div>
        
                            <div class="row mx-auto my-2">
                                <!-- error['BDAY'] number -->
                                <div class="col my-auto mx-0 px-0 err-circle" id="editBday">
                                    <span class="alert my-1 err-circle-span" role="alert"></span>
                                </div>
                                <!--  end  -->
        
                                <div class="col-4 my-auto">
                                    <label class="form-control-label my-auto"> Data di nascita: </label>
                                </div>
                                
                                <div class="col-7 my-auto">
                                    <input type="text" class="form-control date" name="birthday" value="" />
                                </div>
                            </div>
        
                            <div class="row mx-auto my-2">
                                <!-- error['CITY'] number -->
                                <div class="col my-auto mx-0 px-0 err-circle" id="editCity">
                                    <span class="alert my-1 err-circle-span" role="alert"></span>
                                </div>
                                <!--  end  -->
        
                                <div class="col-4 my-auto">
                                    <label class="form-control-label my-auto"> Luogo di nascita: </label>
                                </div>
                                
                                <div class="col-7 my-auto">
                                    <input type="text" class="form-control" name="city" value="" />
                                </div>
                            </div>
        
                            <div class="row mx-auto my-2">
                                <!-- error['COUNTRY'] number -->
                                <div class="col my-auto mx-0 px-0 err-circle" id="editCountry">
                                    <span class="alert my-1 err-circle-span" role="alert"></span>
                                </div>
                                <!--  end  -->
        
                                <div class="col-4 my-auto">
                                    <label class="form-control-label my-auto"> </label>
                                </div>
                                
                                <div class="col-7 my-auto">
                                    <input type="text" class="form-control" name="country" value="" />
                                </div>
                            </div>
                        </div>

                        <div class="col mx-auto my-2">
                            <div class="row mx-auto my-2">
                                <!-- error['USERNAME'] number -->
                                <div class="col my-auto mx-0 px-0 err-circle" id="editUsername">
                                    <span class="alert my-1 err-circle-span" role="alert"></span>
                                </div>
                                <!--  end  -->
        
                                <div class="col-4 my-auto">
                                    <label class="form-control-label my-auto"> Username: </label>
                                </div>
                                
                                <div class="col-7 my-auto">
                                    <input type="text" class="form-control" name="username" value="" />
                                </div>
                            </div>
        
                            <div class="row mx-auto my-2">
                                <!-- error['PASSWORD'] number -->
                                <div class="col my-auto mx-0 px-0 err-circle" id="editPassword">
                                    <span class="alert my-1 err-circle-span" role="alert"></span>
                                </div>
                                <!--  end  -->
        
                                <div class="col-4 my-auto">
                                    <label for="password" class="form-control-label my-1"> 
                                        Password: 
                                    </label>
                                </div>
                                        
                                <div class="col-7">
                                    <input type="password" class="form-control" name="password" value="" />
                                </div>
                            </div>   
                            
                            <div class="row mx-auto my-2">
                                <div class="col-5 my-auto">
                                    <label for="confirm" class="form-control-label my-1"> 
                                        Conferma password: 
                                    </label>
                                </div>
                                    
                                <div class="col-7">
                                    <input type="password" class="form-control" name="confirm" value="" />
                                </div>
                            </div>
        
                            <div class="row mx-auto my-2">
                                <!-- error['GENDER'] number -->
                                <div class="col my-auto mx-0 px-0 err-circle" id="editGender">
                                    <span class="alert my-1 err-circle-span" role="alert"></span>
                                </div>
                                <!--  end  -->
        
                                <div class="col-4 my-auto">
                                    <label class="form-control-label my-auto"> Genere: </label>
                                </div>
        
                                <div class="col-7">
                                    <select class="form-control" name="id_gender"> 
                                        <option value="" class="opt-type" style="color: lightgray;"> <span class="color: lightgray;">Scegliere un'opzione</span> </option>

                                        {% for g in gender %}
                                            <option value="{{ g.id_gender }}" class="opt-type" style="color: #023365;"
                                                {% if (m.id_gender == g.id_gender) %} selected {% endif %}> 
                                                    {{ g.name|capitalize }} ({{ g.abbr|upper}})
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>        
                            </div> 
        
                            <div class="row mx-auto my-2">
                                <!-- error['ROLE'] number -->
                                <div class="col my-auto mx-0 px-0 err-circle" id="editRole">
                                    <span class="alert my-1 err-circle-span" role="alert"></span>
                                </div>
                                <!--  end  -->
        
                                <div class="col-4 my-auto">
                                    <label class="form-control-label my-auto"> Accesso: </label>
                                </div>
        
                                <div class="col-7">
                                    <select class="form-control" name="id_role" id="roles">  
                                        <option value="" class="opt-type" style="color: lightgray;"> Scegliere un'opzione </option>
                                        
                                        {% for r in roles %}
                                            <option value="{{ r.id_role }}" class="opt-type" 
                                                {% if (m.id_role == r.id_role) %} selected {% endif %}> 
                                                    {{ r.name|capitalize }} 
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>   
                            </div> 
        
                            <div class="row mx-auto my-2">
                                <!-- error['TITLE'] number -->
                                <div class="col my-auto mx-0 px-0 err-circle" id="editTitle">
                                    <span class="alert my-1 err-circle-span" role="alert"></span>
                                </div>
                                <!--  end  -->
        
                                <div class="col-4 my-auto">
                                    <label class="form-control-label my-auto"> Ruolo aziendale: </label>
                                </div>
        
                                <div class="col-7">
                                    <select class="form-control" name="id_title"> 
                                        <option value="" class="opt-type" style="color: lightgray;"> Scegliere un'opzione </option>

                                        {% for t in titles %}
                                            <option value="{{ t.id_title }}" class="opt-type" 
                                                {% if (m.id_title == t.id_title) %} selected {% endif %}> 
                                                    {{ t.name|capitalize }} 
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>      
                            </div> 
        
                                <!-- error messages -->
                                <div class="col-12 mx-auto my-2 alert message-box">
                                    <span class="err errEditName"></span>
                                    <span class="err errEditSurname"></span>
                                    <span class="err errEditEmail"></span>
                                    <span class="err errEditUsername"></span>
                                    <span class="err errEditPassword"></span>
                                    <span class="err errEditGender"></span>
                                    <span class="err errEditBday"></span>
                                    <span class="err errEditCity"></span>
                                    <span class="err errEditCountry"></span>
                                    <span class="err errEditTitle"></span>
                                    <span class="err errEditRole"></span>
                                    <span class="successEdit"></span>
                                </div>
                                <!-- end -->
                        </div>
                    </div>

                    <div class="card-footer my-auto mx-auto py-1">      
                        <button type="button" class="my-4 action-button back exit" onclick="history.back();">
                            <span class="m-auto">
                                <i class="bi bi-chevron-double-left"></i> INDIETRO
                            </span>
                        </button>
                        
                        <button type="submit" class="my-4 action-button save createUser" name="save">
                            <span class="m-auto">
                                SALVA <i class="bi bi-check-circle"></i>
                            </span>
                        </button>
                    </div>
                    



                    <!--<div class="modal-footer">
                        <button type="button" class="btn btn-default modal-cancel exit" data-bs-dismiss="modal">
                            <span class="bi bi-x-circle">
                                CHIUDI 
                            </span>    
                        </button>
                        
                        <button type="submit" class="btn btn-default modal-save updateUser" name="update_user">
                            <span class="bi bi-check-circle">
                                SALVA
                            </span>   
                        </button>
                    </div>-->

                </form>






























                    
                <form id="user-form" action="{{ doc_root }}admin/user" method="POST">
                    <div class="card-body row">
                        <div class="col mx-auto my-2">     

                            <div class="row mx-auto my-2">
                                <div class="col-1 my-auto">
                                    {% if errors.name %} 
                                        <span class="alert alert-danger my-1 circle" role="alert">
                                            * I
                                        </span>
                                    {% endif %}
                                </div>

                                <div class="col-4 my-auto">
                                    <label for="name" class="form-control-label my-1" style="border: 1px solid black"> 
                                        Nome: 
                                    </label>
                                </div>
                                                        
                                <div class="col-7">
                                    <input type="text" class="form-control" name="name" value="" />
                                </div>
                            </div>
        
                            <div class="row mx-auto my-2">
                                <div class="col-1 my-auto">
                                    {% if errors.surname %} 
                                        <span class="alert alert-danger my-1 circle" role="alert">
                                            * II
                                        </span>
                                    {% endif %}
                                </div>

                                <div class="col-4 my-auto">
                                    <label for="surname" class="form-control-label my-1"> 
                                        Cognome: 
                                    </label>
                                </div>
                                                
                                <div class="col-7">
                                    <input type="text" class="form-control" name="surname" value="" />
                                </div>
                            </div>
                                                    
                            <div class="row mx-auto my-2">
                                <div class="col-1 my-auto">
                                    {% if errors.email %} 
                                        <span class="alert alert-danger my-1 circle" role="alert">
                                            * III
                                        </span>
                                    {% endif %}
                                </div>

                                <div class="col-4 my-auto">
                                    <label for="email" class="form-control-label my-1"> 
                                        Indirizzo e-mail: 
                                    </label>
                                </div>
                                                        
                                <div class="col-7">
                                    <input type="text" class="form-control" name="email" value="" />
                                </div>

                  
                            </div>

                            <div class="row mx-auto my-2">
                                <div class="col-1 my-auto">
                                    {% if errors.bday %} 
                                        <span class="alert alert-danger my-1 circle" role="alert">
                                            * IV
                                        </span>
                                    {% endif %}
                                </div>

                                <div class="col-4 my-auto">
                                    <label for="birthday" class="form-control-label my-1"> 
                                        Data di nascita: 
                                    </label>
                                </div>
                                        
                                <div class="col-7">
                                    <input type="text" class="form-control date" name="birthday" value="" />
                                </div>
                            </div>
        
                            <div class="row mx-auto my-2">
                                <div class="col-1 my-auto">
                                    {% if errors.city %} 
                                        <span class="alert alert-danger my-1 circle" role="alert">
                                            * V
                                        </span>
                                    {% endif %}
                                </div>

                                <div class="col-4 my-auto">
                                    <label for="city" class="form-control-label my-1"> 
                                        Luogo di nascita: 
                                    </label>
                                </div>
        
                                <div class="col-7">
                                    <input name="city" type="text" class="form-control" value="">
                                </div>
                            </div>
        
                            <div class="row mx-auto my-2">
                                <div class="col-1 my-auto">
                                    {% if errors.country %} 
                                        <span class="alert alert-danger my-1 circle" role="alert">
                                            * VI
                                        </span>
                                    {% endif %}
                                </div>

                                <div class="col-4 my-auto">
                                    <label for="country" class="form-control-label my-1"></label>
                                </div>
        
                                <div class="col-7">
                                    <input name="country" type="text" class="form-control" value="">
                                </div>
                            </div>
                        </div>

                        <div class="col mx-auto my-2">
                            <div class="row mx-auto my-2">
                                <div class="col-1 my-auto">
                                    {% if errors.username %} 
                                        <span class="alert alert-danger my-1 circle" role="alert">
                                            * VII
                                        </span>
                                    {% endif %}
                                </div>

                                <div class="col-4 my-auto">
                                    <label for="username" class="form-control-label my-1"> 
                                        Username: 
                                    </label>
                                </div>
                                        
                                <div class="col-7">
                                    <input type="text" class="form-control" name="username" value="" />
                                </div>
                            </div>

                            <div class="row mx-auto my-2">
                                <div class="col-1 my-auto">
                                    {% if errors.password %} 
                                        <span class="alert alert-danger my-1 circle" role="alert">
                                            * VIII
                                        </span>
                                    {% endif %}
                                </div>

                                <div class="col-4 my-auto">
                                    <label for="password" class="form-control-label my-1"> 
                                        Password: 
                                    </label>
                                </div>
                                        
                                <div class="col-7">
                                    <input type="password" class="form-control" name="password" value="" />
                                </div>
                            </div>   
                            
                            <div class="row mx-auto my-2">
                                <div class="col-5 my-auto">
                                    <label for="confirm" class="form-control-label my-1"> 
                                        Conferma password: 
                                    </label>
                                </div>
                                    
                                <div class="col-7">
                                    <input type="password" class="form-control" name="confirm" value="" />
                                </div>
                            </div>

                            <div class="row mx-auto my-2">
                                <div class="col-1 my-auto">
                                    {% if errors.gender %} 
                                        <span class="alert alert-danger my-1 circle" role="alert">
                                            * IX
                                        </span>
                                    {% endif %}
                                </div>

                                <div class="col-4 my-auto">
                                    <label for="id_gender" class="form-control-label my-1"> 
                                        Genere:
                                    </label>
                                </div>

                                <div class="col-7">
                                    <select class="form-control" name="id_gender"> 
                                        <option value="" class="opt-type" style="color: lightgray;"> <span class="color: lightgray;">Scegliere un'opzione</span> </option>

                                        {% for g in gender %}
                                            <option value="{{ g.id_gender }}" class="opt-type" style="color: #023365;"
                                                {% if (m.id_gender == g.id_gender) %} selected {% endif %}> 
                                                    {{ g.name|capitalize }} ({{ g.abbr|upper}})
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>       
                            </div>
                                
                            <div class="row mx-auto my-2">
                                <div class="col-1 my-auto">
                                    {% if errors.role %} 
                                        <span class="alert alert-danger my-1 circle" role="alert">
                                            * X
                                        </span>
                                    {% endif %}
                                </div>

                                <div class="col-4 my-auto">
                                    <label for="id_role" class="form-control-label my-1"> 
                                        Accesso: 
                                    </label>
                                </div>
        
                                <div class="col-7">
                                    <select class="form-control" name="id_role" id="roles">  
                                        <option value="" class="opt-type" style="color: lightgray;"> Scegliere un'opzione </option>
                                        
                                        {% for r in roles %}
                                            <option value="{{ r.id_role }}" class="opt-type" 
                                                {% if (m.id_role == r.id_role) %} selected {% endif %}> 
                                                    {{ r.name|capitalize }} 
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="row mx-auto my-2">
                                <div class="col-1 my-auto">
                                    {% if errors.title %} 
                                        <span class="alert alert-danger my-1 circle" role="alert">
                                            * XI
                                        </span>
                                    {% endif %}
                                </div>

                                <div class="col-4 my-auto">
                                    <label for="id_title" class="form-control-label my-1"> 
                                        Ruolo aziendale: 
                                    </label>
                                </div>
    
                                <div class="col-7">
                                    <select class="form-control" name="id_title"> 
                                        <option value="" class="opt-type" style="color: lightgray;"> Scegliere un'opzione </option>

                                        {% for t in titles %}
                                            <option value="{{ t.id_title }}" class="opt-type" 
                                                {% if (m.id_title == t.id_title) %} selected {% endif %}> 
                                                    {{ t.name|capitalize }} 
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>      
                            </div> 
                        </div>

                        <div class="col-12" style="height: 7rem">
                        {% if errors %}
                            <div class="col-11 alert alert-danger mx-auto my-2 error" role="alert">
 
                                <span>
                                    {% if errors.name %}
                                        <b>*I:</b> {{ errors.name }} &nbsp;
                                    {% endif %}

                                    {% if errors.surname %}
                                        <b>*II:</b> {{ errors.surname }} &nbsp;
                                    {% endif %}

                                    {% if errors.email %}
                                        <b>*III:</b> {{ errors.email }} &nbsp;
                                    {% endif %}

                                    {% if errors.bday %}
                                        <b>*IV:</b> {{ errors.bday }} &nbsp;
                                    {% endif %}

                                    {% if errors.city %}
                                        <b>*V:</b> {{ errors.city }} &nbsp;
                                    {% endif %}

                                    {% if errors.country %}
                                        <b>*VI:</b> {{ errors.country }} &nbsp;
                                    {% endif %}

                                    {% if errors.username %}
                                        <b>*VII:</b> {{ errors.username }} &nbsp;
                                    {% endif %}

                                    {% if errors.password %}
                                        <b>*VIII:</b> {{ errors.password }} &nbsp;
                                    {% endif %} 

                                    {% if errors.gender %}
                                        <b>*IX:</b> {{ errors.gender }} &nbsp;
                                    {% endif %}
                           
                                    {% if errors.role %}
                                        <b>*X:</b> {{ errors.role }} &nbsp;
                                    {% endif %}

                                    {% if errors.title %}
                                        <b>*XI:</b> {{ errors.title }}
                                    {% endif %}
                                    
                                </span>

                                {% if errors.msg %}
                                    {{ errors.msg }}
                                {% endif %}
                            </div>
                        {% endif %}
                        </div>
                        
                    </div> 

                    <div class="card-footer my-auto mx-auto py-1">      
                        <button type="button" class="my-4 action-button back" onclick="history.back();">
                            <span class="m-auto">
                                <i class="bi bi-chevron-double-left"></i> INDIETRO
                            </span>
                        </button>
                        
                        <button type="submit" class="my-4 action-button save createUser" name="save">
                            <span class="m-auto">
                                SALVA <i class="bi bi-check-circle"></i>
                            </span>
                        </button>
                    </div>   
                </form>
            </div>
        </div>
    </section>
{% endblock %}











{% block jsScript %}    
<!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">      <!-- Bootstrap 5 CSS -->
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/css/datepicker.min.css'>              <!-- Vanilla Datepicker CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/css/datepicker-bs5.min.css">          <!-- Vanilla Datepicker CSS -->
<script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/js/datepicker.min.js"></script>
    
<script>
$(document).ready(function(){
//  ===> DATEPICKER     
    //use datepicker on the date inputs
    $(".date").datepicker({
        format: 'dd-mm-yyyy',
        autoclose: true,
        language: 'it-IT', 
    });
//  ===> END DATEPICKER 
          
//  ===> SAVE BUTTON ON EDIT/DELETE MODAL   
    $(".createUser").on('click', function(){ 
        $.ajax({
            method: 'POST',
            url: 'admin/user.php',
            data: $("#user-form").serialize(),
                success: function(data){
                    console.log(data);
                }
        })
    });  
//  ===> END SAVE BUTTON ON EDIT/DELETE MODAL
});
</script>

<!--    ===>    BOOTSTRAP DATEPICKER    <===    -->   
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js" integrity="sha512-LsnSViqQyaXpD4mBBdRYeP6sRwJiJveh2ZIbW41EBrNmKxgr/LFZIiWT6yr+nycvhvauz8c2nYMhrP80YhG7Cw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/locales/bootstrap-datepicker.it.min.js" charset="UTF-8"></script>
<!--    ===>    END BOOTSTRAP DATEPICKER    <===    --> 
{% endblock %}