<section class="col-8 mx-auto new-form">
    <form id="password-form" action="{{ doc_root }}change-password" method="POST">

        <!--    =====>    PROGRESS BAR    <=====    -->
        <div class="container col-8 mx-auto my-1">
            <div class="progress">
                <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <!--    =====>    END PROGRESS BAR    <=====    -->

        <!--    =====>    FIELDSET 1 [INSERT OLD PASSWORD]    <=====    -->
        <fieldset class="mx-auto my-3">
            <div class="card">
                <div class="card-header mx-auto my-auto">
                    <h2 class="form-title mx-auto my-3"> 
                        <i class="bi bi-pencil-square my-auto mx-1"></i>
                            CAMBIA PASSWORD
                        <i class="bi bi-pencil-square my-auto mx-1"></i>
                    </h2>
            
                        <h4 class="form-subtitle mx-auto my-2"> 
                            <i class="bi bi-1-circle"></i> Inserire la <b style="color: #6d1741">password</b>. <br>
                            <i class="bi bi-2-circle"></i> Inserire la <b style="color: #6d1741">nuova</b> password. <br>
                            <i class="bi bi-3-circle"></i> <b style="color: #6d1741">Ripetere</b> la nuova password per confermare il cambio.
                        </h4>
                </div>

                <div class="card-body my-4">
                    <div class="row mx-auto my-2">
                        <div class="col-5 my-auto">
                            <label for="pass" class="form-control-label my-1"> Password: </label>
                        </div>
                                                
                        <div class="col-6">
                            <input type="password" class="form-control" name="pass" />
                        </div>
                    </div>
                </div>
            </div>

            <button type="button" class="action-button next" name="next">
                <span class="m-auto">
                    AVANTI <i class="bi bi-chevron-double-right"></i>
                </span>
            </button>
        </fieldset>
        <!--    =====>    END FIELDSET 1 [INSERT OLD PASSWORD]    <=====    -->
        
        <!--    =====>    FIELDSET 2 [INSERT NEW PASSWORD AND CONFIRM]    <=====    -->
        <fieldset class="mx-auto my-3">
            <div class="card">
                <div class="card-header row mx-auto pt-3">
                    <h2 class="form-title mx-auto my-2"> 
                        <i class="bi bi-pencil-square my-auto mx-1"></i>
                            CAMBIA PASSWORD
                        <i class="bi bi-pencil-square my-auto mx-1"></i>
                    </h2>
            
                        <h4 class="form-subtitle mx-auto my-2"> 
                            <i class="bi bi-1-circle"></i> Inserire la <b style="color: #6d1741">password</b>. <br>
                            <i class="bi bi-2-circle"></i> Inserire la <b style="color: #6d1741">nuova</b> password. <br>
                            <i class="bi bi-3-circle"></i> <b style="color: #6d1741">Ripetere</b> la nuova password per confermare il cambio.
                        </h4>
                </div>

                <div class="card-body my-3">
                    <div class="row mx-auto my-2">
                        <div class="col-5 my-auto">
                            <label for="new" class="form-control-label my-1"> Nuova password: </label>
                        </div>
                                                
                        <div class="col-6">
                            <input type="password" class="form-control" name="new" />
                        </div>
                    </div>

                    <div class="row mx-auto my-2">
                        <div class="col-5 my-auto">
                            <label for="confirm" class="form-control-label my-1"> Conferma password: </label>
                        </div>
                                                
                        <div class="col-6">
                            <input type="password" class="form-control" name="confirm" />
                        </div>
                    </div>
                </div>
            </div>

            <button type="button" class="action-button back" name="back">
                <span class="m-auto">
                    <i class="bi bi-chevron-double-left"></i> INDIETRO
                </span>
            </button>

            <button type="submit" class="action-button save" name="save">
                <span class="m-auto">
                    SALVA <i class="bi bi-check-circle"></i>
                </span>
            </button>
        </fieldset>
        <!--    =====>    END FIELDSET 2 [INSERT NEW PASSWORD AND CONFIRM]    <=====    -->
    </form>
</section>


{% block jsScript %}    
<!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">      <!-- Bootstrap 5 CSS -->
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/css/datepicker.min.css'>              <!-- Vanilla Datepicker CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/css/datepicker-bs5.min.css">          <!-- Vanilla Datepicker CSS -->
<script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/js/datepicker.min.js"></script>
    
<script>
$(document).ready(function(){
//  ===> MULTI-STEP FIELDSET CHANGE      
    var current = 1;
    var current_field, next_field, previous_field;
    var fields = $("fieldset").length;
    
        //btn for next fieldset in multi-step form
        $(".next").on('click', function(){
            current_field = $(this).closest("fieldset");
            next_field = current_field.next();
                    
            next_field.show();
            current_field.hide();
            setProgressBar(++current);
        });

        //btn for previous fieldset in multi-step form
        $(".back").on('click', function(){
            current_field = $(this).closest("fieldset");
            previous_field = current_field.prev();
                    
            previous_field.show();
            current_field.hide();
            setProgressBar(--current);
        });
            
    //setting progress bar to % of current fieldset
    setProgressBar(current);
                
        //change progress bar action
        function setProgressBar(currentField){
            var percent = parseFloat(100 / fields) * currentField;
            percent = percent.toFixed();
                
            $(".progress-bar")
                .css("width", percent + "%")
                .html(percent + "%");     
        }
//  ===> END MULTI-STEP FIELDSET CHANGE     

//  ===> TOOLTIP CHARACTERISTICS   
    $("body").tooltip({ 
        selector: '[data-toggle = tooltip]',
        placement: 'right' 
    });
//  ===> END TOOLTIP CHARACTERISTICS
        
//  ===> DATEPICKER     
    //use datepicker on the date inputs
    $(".date").datepicker({
        format: 'dd-mm-yyyy',
        autoclose: true,
        todayHighlight: true,
        language: 'it-IT', 
    });
//  ===> END DATEPICKER   

//  ===> AJAX REQUEST TO INSERT ALL FORM DATA
    $(".save").on('click', function(){
        //e.preventDefault();
        $.ajax({
            method: 'POST',
            url: 'transport.php',
            data: $('#trans-form').serialize(),
            success: function(data){
                console.log(data);
            }
        })
    });
//  ===> END AJAX REQUEST TO INSERT ALL FORM DATA
});    
</script> 
{% endblock %}

