{% extends 'layout.html' %}
{% block html %} 
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Include the above in your HEAD tag -->
{% endblock %}

{% block head %}
    <title>
        {% block title %} {% endblock %}
    </title>
    <link href="{{ doc_root }}css/styles.css" rel="stylesheet" type="text/css"> 

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
        /*	background: #60a3bc !important; */
            background: linear-gradient(to top, #71bf44 0%, #1a9ccd 100%) !important;
        }
    </style>
{% endblock %}

{% block body %}

{% block content %}
    <main>
        <div class="container h-100">
            <div class="d-flex justify-content-center h-100">
                <div class="user_card">
                    <div class="d-flex justify-content-center">
                        <div class="brand_logo_container">
                            <img src="{{ doc_root }}img/logo_liquimet.png" class="brand_logo" alt="Liquimet">
                        </div>
                    </div>

                    <div class="d-flex justify-content-center form_container">
                        <form method="post" name="login_form" action="{{ doc_root }}login">
                            <div class="input-group mb-3" id="login-input-group">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" name="username" class="form-control" id ="login-input-user" value="{{ username }}" autocomplete="off" placeholder="username">
                                <div class="errors">
                                    {{ errors.username }}
                                </div>
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                </div>
                                <input type="password" name="pass" class="form-control" id="login-input-pass" autocomplete="new-password" placeholder="password">
                                <div class="errors">
                                    {{ errors.password|raw }}
                                </div>
                            </div>

                            <div class="form-group" id="login-form-group">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="remember">
                                    <label class="form-check-label" for="remember">Ricordami</label>
                                </div>
                            </div>

                            <div class="d-flex justify-content-center mt-5 login_container">
                                <button type="submit" name="login" class="btn" id="login-btn" value="Accedi"
                                        data-bs-toggle="modal" data-bs-target="#error">
                                            Accedi
                                </button>

                                            <!-- MODAL -->
                                {% if errors %}
                                    <div class="modal fade" id="error" tabindex="-1" aria-labelledby="errorLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="errorLabel">Errore!</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Chiudi"></button>
                                                </div>
                                                
                                                <div class="modal-body">
                                                    {{ errors.message }}
                                                </div>
                                                
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
  
                            </div>
                        </form>
                    </div>

                    <div class="mt-4">
                        <div class="d-flex justify-content-center links">
                            <a href="#" id="lost-password">Hai dimenticato la password?</a>
                        </div>
                    </div> 		
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block footer %}{% endblock %}

{% endblock %}