{% extends 'layout.html' %}
{% block title %} Pagina non trovata {% endblock %} 

{% block content %}

    
        <section class="submenu align-items-center my-auto mx-auto p-2">
                <div class="container justify-content-center mx-auto p-2">

                        <h1>Errore!</h1>
                            <p>
                                Riprovare o contattare l'amministratore.
                            </p>
                            <p>
                                <a href="{{ doc_root }}index">Torna indietro</a>.
                            </p>
                </div>
        </section>

    
{% endblock %}