{% extends 'layout.twig' %}
{% block title %} Login {% endblock %}

{% block body %}
<body id="login" class="d-flex justify-content-center align-items-center">
    <div class="container d-flex justify-content-center h-100">
        <div class="container col-4 my-auto user-card">
            
            <div class="container d-flex justify-content-center">
                <div class="d-flex justify-content-center logo-box">
                    <img src="/img/logo_liquimet.png" class="brand-logo" alt="Liquimet Logo">
                </div>
            </div>
            
            <div class="container form-box">
                <form id="forgot-password-form" method="POST" action="forgot-password" class="col-9 justify-content-center mx-auto my-auto">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                    <input type="hidden" name="token" value="{{ token }}">

                    <div class="input-group mx-auto my-2 input-login">
                        <label for="new-password" class="input-group-text">
                            <i class="bi bi-lock-fill"></i>
                        </label>
                        
                        <input type="password" id="new-password" name="new-password" class="form-control" placeholder="nuova password" autocomplete="off" />   
                    </div>

                    <div class="input-group mx-auto my-2 input-login">
                        <label for="confirm-password" class="input-group-text">
                            <i class="bi bi-lock-fill"></i>
                        </label>
                        
                        <input type="password" id="confirm-password" name="confirm-password" class="form-control" placeholder="conferma password" /> 
                    </div>
    
                    <div class="col-8 mx-auto my-4 btn-box">
                        <button type="submit" name="save" class="btn login-btn" id="login-btn" value="Salva">
                            SALVA
                        </button>
                    </div>
                </form>

                <div class="col-9 mx-auto {% if error %}alert alert-danger{% endif %}">
                    {{ error }}
                </div>
            </div>	
        </div>
    </div>
</body>
{% endblock %}