<div class="modal fade" id="editQty-{{ t.id_transport }}" tabindex="-1" role="dialog" aria-labelledby="edit-quantity" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header row">
                <h2 class="modal-title mx-auto my-auto" id="edit-quantity"> 
                    <i class="bi bi-pencil-square my-auto mx-1"></i>
                        MODIFICA
                    <i class="bi bi-pencil-square my-auto mx-1"></i>
                </h2>

                    <h4 class="modal-subtitle mx-auto my-2"> 
                        Modifica i dati esistenti delle quantità del trasporto <b style="color: #6d1741">#{{ t.seo }}</b>.
                    </h4>
            </div>
        
            <div class="modal-body">
                <div class="container-fluid">

                    <form id="qty-form" method="POST" action="{{ doc_root }}quantity-edit/{{ t.id_transport }}">
                        <input type="hidden" name="id_transport" id="id_transport" value="{{ t.id_transport }}" />
                        <input type="hidden" name="type" value="{{ t.type }}" />

                        <div class="row form-group mx-auto">
                            <div class="col-4 my-auto">
                                <label class="form-control-label my-auto"> Quantità caricata: </label>
                            </div>
                            
                            <div class="col-8 my-auto">
                                <input type="text" class="form-control" name="kg_load" id="kg_load" value="{{ t.kg_load }}" />
                            </div>
                        </div>
                        
                        <div class="row form-group mx-auto">
                            <div class="col-4 my-auto">
                                <label class="form-control-label my-auto"> Raffreddamento: </label>
                            </div>
                        
                            <div class="col-8 my-auto">
                                <select class="form-control" name="cooling" id="cooling">
                                    <option class="opt-type" value="{{ t.cooling }}">
                                        {% if (t.cooling == 0) %}
                                            NO = 0
                                        {% else %}
                                            SÌ = 600
                                        {% endif %}
                                    </option>   
                                
                                    <option value="600" class="opt-type"> 
                                        SÌ = 600
                                    </option>
                                    
                                    <option value="0" class="opt-type"> 
                                        NO = 0
                                    </option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="row form-group mx-auto">
                            <div class="col-4 my-auto">
                                <label class="form-control-label my-auto"> Tipologia costo: </label>
                            </div>
                            
                            <div class="col-8 my-auto">
                                <select class="form-control" name="price_typology" id="price_typology">
                                    <option class="opt-type" value="{{ t.price_typology }}">
                                        {% if (t.price_typology == 'yes') %}
                                            SÌ
                                        {% else %}
                                            NO
                                        {% endif %}
                                    </option>   
                                    
                                    <option value="yes" class="opt-type"> 
                                        SÌ
                                    </option>
                                        
                                    <option value="no" class="opt-type"> 
                                        NO
                                    </option>
                                </select>
                            </div>
                        </div>        
    
                        <div class="row form-group mx-auto">
                            <div class="col-4 my-auto">
                                <label class="form-control-label my-auto"> Valore costo: </label>
                            </div>
                            
                            <div class="col-8 my-auto">
                                <input type="text" class="form-control" name="price_value" id="price_value" value="{{ t.price_value }}" />
                            </div>
                        </div>  
                        
                        <div class="row form-group mx-auto">
                            <div class="col-4 my-auto">
                                <label class="form-control-label my-auto"> Quantità scaricata: </label>
                            </div>
                            
                            <div class="col-8 my-auto">
                                <input type="text" class="form-control" name="kg_unload" id="kg_unload" value="{{ t.kg_unload }}" />
                            </div>
                        </div>  
                        
                        <div class="row form-group mx-auto">
                            <div class="col-4 my-auto">
                                <label class="form-control-label my-auto"> Densità (liquido): </label>
                            </div>
                            
                            <div class="col-8 my-auto">
                                <input type="text" class="form-control" name="liquid_density" id="liquid_density" value="{{ t.liquid_density }}" />
                            </div>
                        </div>  
                          
                        <div class="row form-group mx-auto">
                            <div class="col-4 my-auto">
                                <label class="form-control-label my-auto"> Peso specifico (gas): </label>
                            </div>
                            
                            <div class="col-8 my-auto">
                                <input type="text" class="form-control" name="gas_weight" id="gas_weight" value="{{ t.gas_weight }}" />
                            </div>
                        </div>     

                        <div class="row form-group mx-auto">
                            <div class="col-4 my-auto">
                                <label class="form-control-label my-auto"> PCS/GHV: </label>
                            </div>
                            
                            <div class="col-8 my-auto">
                                <input type="text" class="form-control" name="pcs_ghv" id="pcs_ghv" value="{{ t.pcs_ghv }}" />
                            </div>
                        </div>  
                        
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default modal-cancel" data-bs-dismiss="modal">
                                <span class="bi bi-x-circle">
                                    CHIUDI
                                </span> 
                            </button>

                            <button type="submit" class="btn btn-default modal-save updateQty" name="update_quantity">
                                <span class="bi bi-check-circle">
                                    SALVA
                                </span> 
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function(){
//  ===> PRICE_TYPOLOGY SELECT DISABLED CHANGE       
    $('#price_typology').on('change', function(){
        if($('#price_typology option:selected').val() == 'no'){
            //$('#price_typology option[value=no]').attr('selected', true);
            $('#price_value').attr('disabled', true);
            $('#price_value').css({
                'background': 'none',
                'border': '1px solid rgba(76, 103, 130, 0.35)',
                'border-radius': '0.5rem'               
            });
            $('#price_value').val('0') = 0;
        } else{
            //$('#price_typology option[value=yes]').attr('selected', true);
            $('#price_value').attr('disabled', false);
            $('#price_value').css({
                'background': '#ffffff',
                'border': '1px solid rgba(76, 103, 130, 0.35)',
                'border-radius': '0.5rem'
            });
            $('#price_value').val('');

            $("#price_value").focus(function(){
                $("#price_value").css({
                    '-moz-box-shadow': '0 0 0 1px rgba(113,191,68) !important',
                    '-webkit-box-shadow': '0 0 0 1px rgba(113,191,68) !important',
                    'box-shadow': '0 0 0 1px rgba(113,191,68) !important',
                    'border': '1px solid #71bf44',
                    'outline-width': '0',
                    'transition': 'all 0.2s ease-out',
                    '-webkit-transition': 'all 0.2s ease-out',
                    '-moz-transition': 'all 0.2s ease-out',
                    '-o-transition': 'all 0.2s ease-out'
                });
            });
        };
    });
//  ===> END PRICE_TYPOLOGY SELECT DISABLED CHANGE

//  ===> SAVE BUTTON ON EDIT/DELETE MODAL   
    $(".updateQty").click(function(){
        $.ajax({
            method: 'POST',
            url: 'quantity-edit.php',
            data: $("#qty-form").serialize(),
                success: function(data){
                    console.log(data);
                }
        })
    });
//  ===> END SAVE BUTTON ON EDIT/DELETE MODAL

//  ===> SAVE BUTTON ON EDIT/DELETE MODAL   
    //attach a submit handler to the form
    /*$("#qty-form").on("submit", function(event){
        //stop form from submitting normally
        //event.preventDefault();
       
        //get some values from elements on the page:
        var quantity = $(this).serialize();
       
        //Send the data using post
        var posting = $.post("admin/quantity-edit.php", quantity);

        // Put the results in a div
        posting.done(function( data ) {
            var content = $( data ).find( "#content" );
            $( "#result" ).empty().append( content );
        } );
    /*$(".updateQty").submit(function(){
        var quantity = $("#qty-form").serialize();
        //$.post( "test.php", $( "#testform" ).serialize() );
        $.ajax({
            method: 'POST',
            url: 'admin/quantity-edit.php',
            data: { quantity : quantity },
            success: function(response){                    
                $(".success").html(response); 
            }
        })*/

/*        event.preventDefault();
    });*/
//  ===> END SAVE BUTTON ON EDIT/DELETE MODAL
});
</script>