{% extends 'layout.twig' %}
{% block title %} Piattaforma {{ 'now'|date('Y') }} {% endblock %}
{% block head %}
    {# Bootstrap Datepicker - CSS #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" 
        integrity="sha256-siyOpF/pBWUPgIcQi17TLBkjvNgNQArcmwJB8YvkAgg=" crossorigin="anonymous">
{% endblock %}

{% block search %}
    {# Search Bar #}
    <section class="row my-auto mx-auto search-header">
        <div class="my-auto m-0 search-bar">
            <form id="search-form">
                <button type="button" class="my-1 search-btn">
                    <i class="bi bi-search"></i>
                </button>
                <input type="text" class="my-1 search-input" id="search" placeholder="      Cerca.." />  
            </form>
        </div>
    </section>
{% endblock %}
 
{% block browse %}
    {# Browse Bar #}
    <section class="row my-auto mx-auto browse-header">
        <div class="my-auto m-0 browse-bar">
            <form id="browse-form" enctype="multipart/form-data" method="POST" action="{{ doc_root }}import-csv">
                <label for="browse-input" class="my-1 browse-btn">
                    <i class="bi bi-upload"></i>
                </label>
                
                <input type="file" class="my-1 browse-input" id="browse-input" name="browse-input" 
                    onchange="$('.browse-label').val($(this).val()); $('.browse-group').css('display', 'block');" />
                <input type="text" class="my-1 browse-label" readonly />
                
                <span class="my-1 browse-group"> 
                    <button type="button" class="my-1 remove-btn" onclick="document.querySelector('.browse-label').value=''; $('.browse-group').css('display', 'none');">
                        <i class="bi bi-x-circle"></i>
                    </button>

                    <button type="button" class="my-1 upload-btn">
                        <i class="bi bi-check-circle"></i>
                    </button>
                </span>
                
                <!--<button type="button" class="my-1 browse-btn">
                    <i class="bi bi-upload"></i>
                </button>-->
                
                <!--<div class="input-group my-1 browse-group">
                    <input type="text" class="my-1 browse-label" name="browse-label" readonly />  
                        <button type="button" class="my-1 upload-btn">
                            <span>
                                <i class="bi bi-plus-circle"></i>
                            </span>
                        </button>

                        <button type="button" class="my-1 remove-btn">
                            <span>
                                <i class="bi bi-x-circle"></i>
                            </span>
                        </button>
                </div>-->
            </form>
        </div>
    </section>
    <!--    ===>    END BROWSE FILE BAR    <===    -->
{% endblock %}

{% block content %} 
    {% include 'shared/transports-navigation.twig' %}

<section class="col-12 m-auto">
    <div class="d-flex justify-content-center table-responsive">          
        <table class="table table-hover table-light table-stripped caption-top text-center platform" id="transport-table">
            <caption class="px-3 mb-2 text-white text-shadow-dark" style="font-size: 1.9rem"> 
                <span>
                    {#<i class="bi bi-arrow-bar-right my-1 fs-3"></i> #}
                        TRASPORTI:
                </span>
            </caption>

            {% include 'shared/transports-head.twig' %}

            <tbody class="table-group-divider" id="transport-tbody">
                {% include 'transports-ajax.twig' %}
            </tbody>

            <tfoot id="transport-tfoot">
                {% include 'shared/pagination.twig' with {
                    page: page,
                    csrf_token: csrfToken
                } %}
            </tfoot>
        </table>
    </div>    
</section> 

<input type="hidden" name="csrf_token" value="{{ csrf_token }}">
{% endblock %}
   
{% block jquery %}
    {# JQuery #}
<script src="https://code.jquery.com/jquery-3.7.1.min.js" 
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" 
        crossorigin="anonymous">
</script>
{% endblock %}

{% block page_script %}
<script>
$(document).ready(function () {
    $("body").tooltip({ 
        selector: '[data-bs-toggle = tooltip]',
        placement: 'right' 
    });

    $("#search").keyup(function () {
        var value = this.value.toLowerCase().trim();

        $(".platform").each(function (index) {
            if (index !== -1) {

                $(this).find("td").each(function () {
                    var id = $(this).text().toLowerCase().trim();
                    var not_found = (id.indexOf(value) == -1);
                    
                    $(this).closest('tr').toggle(!not_found);
                        return not_found;
                });
            } 
        });
    });

    $("#search").keydown(function (e) {
        if (e.keyCode == 13) { 
            e.preventDefault();
                return false;
        }
    });
});  
</script>   
{% endblock %}