{% extends 'layout.twig' %}
{% block title %} Piattaforma {{ 'now'|date('Y') }} {% endblock %}
{% block head %}
    {# Bootstrap Datepicker - CSS #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" 
        integrity="sha256-siyOpF/pBWUPgIcQi17TLBkjvNgNQArcmwJB8YvkAgg=" crossorigin="anonymous">
{% endblock %}

{% block content %} 
    {% include 'shared/transports-navigation.twig' %}

<section class="col-12 m-auto">
    {# Table Caption #}
    <div class="card platform-caption">
        <div class="card-header d-flex align-items-start border-0 my-1">
            <button class="dropdown-toggle mb-1 platform-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">                
                <span class="p-1 my-auto" style="font-size: 1.6rem">
                    {% if type is null %}
                        TUTTI TRASPORTI
                    {% elseif type == 'F' %}
                        TRASPORTI PIENI
                    {% elseif type == 'P' %}
                        TRASPORTI PARZIALI
                    {% endif %}
                </span>
            </button>

            <ul class="dropdown-menu">
                <li class="dropdown-header"> <h5> ◦ TRASPORTI ◦ </h5> </li>      
                    <li> <hr class="dropdown-divider"> </li>

                <li> <a class="dropdown-item {% if type is null %}active{% endif %}" style="text-align: center" 
                        href="javascript:void(0);" data-type="all"> 
                        Tutti </a>
                </li>            
                    <li> <hr class="dropdown-divider"> </li>
                
                <li> <a class="dropdown-item {% if type == 'F' %}active{% endif %}" style="text-align: center" 
                        href="javascript:void(0);" data-type="F"> 
                        Pieni </a>
                </li>       
                    <li> <hr class="dropdown-divider"> </li>
                
                <li> <a class="dropdown-item {% if type == 'P' %}active{% endif %}" style="text-align: center" 
                        href="javascript:void(0);" data-type="P"> 
                        Parziali </a>
                </li>
            </ul>
        </div>
    </div>

    {# Tables #}
    <div class="d-flex justify-content-center table-responsive">          
        <table class="table table-hover text-center platform" id="transports-table">
            {# Table Head #}
            <thead id="transport-head">
                {% include 'shared/transports-head.twig' %}
            </thead>

            {# Table Body #}
            <tbody id="transport-tbody" class="table-group-divider transport-row-group">
                {% if type == 'F' %}
                    {% include 'transports-full-ajax.twig' with { show_type: false } %}
                {% elseif type == 'P' %}
                    {% include 'transports-part-ajax.twig' with { show_type: false } %}
                {% else %}
                    {% include 'transports-ajax.twig' with { show_type: true } %}
                {% endif %}
            </tbody>

            {# Table Footer #}
            <tfoot id="transport-tfoot">
                {% if type == 'F' %}
                    {% include 'shared/pagination.twig' with {
                        page: page,
                        csrf_token: csrfToken,
                        show_type: false
                    } %}
                {% elseif type == 'P' %}
                    {% include 'shared/pagination.twig' with {
                        page: page,
                        csrf_token: csrfToken,
                        show_type: type is null
                    } %}
                {% else %}
                    {% include 'shared/pagination.twig' with {
                        page: page,
                        csrf_token: csrfToken,
                        show_type: true 
                    } %}
                {% endif %}
            </tfoot>
        </table>
    </div>    
</section> 

<input type="hidden" name="csrf_token" value="{{ csrfToken }}">
    {% include 'transport-modals.twig' %}
{% endblock %}

{% block jquery %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js" 
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" 
        crossorigin="anonymous">
</script>
    {#  JQuery Validation  #}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.21.0/jquery.validate.min.js" 
        integrity="sha256-umbTaFxP31Fv6O1itpLS/3+v5fOAWDLOUzlmvOGaKV4=" 
        crossorigin="anonymous">
</script>
    {#  JQuery Validation Additional Methods  #}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.21.0/additional-methods.min.js" 
        integrity="sha256-MtEA819Zls6dtLt5S5BpEMOhifPyz7gfzfgtNtY75lE=" 
        crossorigin="anonymous">
</script>  
{% endblock %}

{% block datepicker %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" 
        integrity="sha256-bqVeqGdJ7h/lYPq6xrPv/YGzMEb6dNxlfiTUHSgRCp8=" 
        crossorigin="anonymous">
</script>
{% endblock %}

{% block page_script %}
<script src="/js/helpers.js"></script>
<script src="/js/validation.js"></script>
<script src="/js/modals.js"></script>
<script src="/js/transports.js"></script>
{% endblock %}