{% extends 'layout.html' %}
{% block title %} Piattaforma {{ 'now'|date('Y') }} {% endblock %}

{% block search %}
    <!--    ===>    SEARCH BAR    <===    -->
    <section class="row my-auto mx-1 search-header" style="border: 2px solid red">
        <div class="my-auto search-bar">
            <form id="search-form">
                <button type="button" class="my-1 search-btn">
                    <i class="bi bi-search"></i>
                </button>
                <input type="text" class="my-1 search-input" id="search" placeholder="      Cerca.." />  
            </form>
        </div>
    </section>
    <!--    ===>    END SEARCH BAR    <===    -->
{% endblock %}
 
{% block browse %}
    <!--    ===>    BROWSE FILE BAR    <===    -->
    <section class="row my-auto mx-1 me-5 browse-header" style="border: 2px solid red">
        <div class="my-auto browse-bar">
            <form id="browse-form" enctype="multipart/form-data" method="POST">
                <input type="file" accept=".csv" class="my-1 browse-input" name="browse" />
                    <button class="my-1 browse-icon" name="upload">
                        <i class="bi bi-upload"></i>
                    </button>  
            </form>
        </div>
    </section>
    <!--    ===>    END BROWSE FILE BAR    <===    -->
{% endblock %}

{% block content %} 
    {{ include('transports-navigation.html') }}

{% endblock %}