{# Platform Page Title Navigation #}
<section class="col-12 my-1">
    <div class="d-flex flex-column align-items-center submenu">
            
        <div class="text-center mx-auto">
            <a class="mx-1" href="/transports">
                <h1 class="submenu-title"> 
                    Costo LNG
                </h1>
            </a>
        </div>    

        <div class="nav justify-content-center mx-auto submenu-navigation">
            <ul class="navbar d-flex align-items-center">

                <li class="nav-item px-1">
                    <a class="nav-link align-middle" href="/transports-full">
                        <abbr title="Transport Management System">TMS</abbr> 
                            - PIENI
                    </a>
                </li>

                <li class="nav-item"> 
                    <i class="bi bi-circle-fill"></i>
                </li>
                    
                <li class="nav-item px-1">
                    <a class="nav-link align-middle" href="/transports-part">
                        <abbr title="Transport Management System">TMS</abbr> 
                           - PARZIALI
                    </a>
                </li>

                <li class="nav-item"> 
                    <i class="bi bi-circle-fill"></i>
                </li>

                <li class="nav-item px-1">
                    <a class="nav-link align-middle" href="/transport">
                        CREA TRASPORTO
                    </a>
                </li>

            </ul>
        </div>
    </div>
</section>

{% block jquery %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js" 
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" 
        crossorigin="anonymous">
</script>
{% endblock %}

{% block page_script %}
<script>
$(document).ready(function() {
    jQuery(function($){
        $("ul a").click(function(e) {
            var link = $(this);
            var item = link.parent("li");
                    
            if(item.hasClass("active")) {
                item.removeClass("active").children("a").removeClass("active");
            } else {
                item.addClass("active").children("a").addClass("active");
            }
    
            if(item.children("ul").length > 0) {
                var href = link.attr("href");
                link.attr("href");
                    setTimeout(function() { 
                        link.attr("href", href);
                    }, 300);
                e.preventDefault();
            }
         })
        .each(function() {
            var link = $(this);
            if(link.get(0).href === location.href) {
                link.addClass("active").parents("li").addClass("active");
                    return false;
            }
        });
    });
});
</script>
{% endblock %}